Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi, migrations

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

tsc:
  run: pnpm tsc

openapi:
  run: pnpm openapi && git add public/openapi.json public/openapi.yaml

migrations:
  run: bash scripts/check-migrations.sh

Wire contact and support forms to Slack notifications
  apps/marketing/src/app/contact/page.tsx
  apps/marketing/src/app/support/page.tsx
  apps/saas/src/app/(api)/api/contact/route.ts
  apps/saas/src/app/(api)/api/support/route.ts
  packages/lib/src/effect/services/slack-monitoring/formatters.ts
  packages/lib/src/effect/services/slack-monitoring/types.ts
Due: lint, tsc

Remove About links from headers and footers
  apps/marketing/src/components/marketing-footer.tsx
  apps/marketing/src/components/marketing-header.tsx
  apps/saas/src/components/marketing-footer.tsx
  apps/saas/src/components/marketing-header.tsx
Due: lint, tsc

Add contact and support form submissions with Slack notifications (#387)
  apps/marketing/src/app/contact/page.tsx
  apps/marketing/src/app/support/page.tsx
  apps/marketing/src/components/marketing-footer.tsx
  apps/marketing/src/components/marketing-header.tsx
  apps/saas/src/app/(api)/api/contact/route.ts
  apps/saas/src/app/(api)/api/support/route.ts
  apps/saas/src/components/marketing-footer.tsx
  apps/saas/src/components/marketing-header.tsx
  packages/lib/src/effect/services/slack-monitoring/formatters.ts
  packages/lib/src/effect/services/slack-monitoring/types.ts
Due: lint, tsc

Update lockfile after removing @effect/platform-node
  pnpm-lock.yaml
Due: none

Restore i18n request file required by next.config.ts
  apps/saas/src/lib/i18n/request.ts
  knip.json
Due: lint, tsc

Optimize tsc performance from ~58s to ~18s (67% faster)
  apps/marketing/tsconfig.json
  apps/saas/package.json
  apps/saas/tsconfig.json
  packages/config/tsconfig.base.json
  packages/lib/tsconfig.json
  packages/socials/package.json
  packages/ui/tsconfig.json
  turbo.json
Due: lint

Fix E2E auth test flaky selector on mobile
  tests/e2e/saas/auth.spec.ts
Due: lint, tsc

Remove i18n/next-intl and fix cacheComponents flag preservation
  apps/saas/next.config.ts
  apps/saas/package.json
  apps/saas/src/lib/i18n/request.ts
  messages/ar.json
  messages/bn.json
  messages/ca.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/it.json
  messages/ja.json
  messages/ko.json
  messages/pt.json
  messages/ru.json
  messages/tr.json
  messages/vi.json
  messages/zh.json
  packages/lib/package.json
  packages/lib/src/i18n/actions.ts
  packages/lib/src/i18n/config.ts
  packages/lib/src/i18n/request.ts
  pnpm-workspace.yaml
Due: lint, tsc

Remove i18n ignore pattern from knip.json
  knip.json
Due: none

Remove cacheComponents wrapper, update lockfile to remove next-intl
  apps/saas/next.config.ts
  pnpm-lock.yaml
Due: lint, tsc

Fix E2E auth test flaky selector on mobile (#389)
  tests/e2e/saas/auth.spec.ts
Due: lint, tsc

Fix upgrade dialog showing outdated data and missing usage
  apps/saas/src/app/(org-settings)/org/[organization]/settings/billing/page.tsx
  apps/saas/src/components/billing/billing-dashboard.tsx
  apps/saas/src/components/billing/subscription-manager.tsx
  packages/lib/src/effect/services/billing-repository.ts
  packages/lib/src/effect/services/billing.ts
Due: lint, tsc

Remove next-intl i18n implementation and message files (#390)
  apps/saas/next.config.ts
  apps/saas/package.json
  apps/saas/src/lib/i18n/request.ts
  knip.json
  messages/ar.json
  messages/bn.json
  messages/ca.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/it.json
  messages/ja.json
  messages/ko.json
  messages/pt.json
  messages/ru.json
  messages/tr.json
  messages/vi.json
  messages/zh.json
  packages/lib/package.json
  packages/lib/src/i18n/actions.ts
  packages/lib/src/i18n/config.ts
  packages/lib/src/i18n/request.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, tsc

Fix upgrade dialog showing outdated data and missing usage (#391)
  apps/saas/src/app/(org-settings)/org/[organization]/settings/billing/page.tsx
  apps/saas/src/components/billing/billing-dashboard.tsx
  apps/saas/src/components/billing/subscription-manager.tsx
  packages/lib/src/effect/services/billing-repository.ts
  packages/lib/src/effect/services/billing.ts
Due: lint, tsc

Handle Vercel skipped deployments in E2E trigger
  .github/workflows/e2e-trigger.yml
Due: none

Handle Vercel skipped deployments in E2E trigger (#392)
  .github/workflows/e2e-trigger.yml
Due: none

Update E2E testing documentation with current architecture
  content/docs/internal/reference/testing.mdx
Due: none

Enable cache components in marketing app
  apps/marketing/next.config.ts
Due: lint, tsc

Fix E2E test selectors for strict mode and mobile visibility
  tests/e2e/marketing/landing.spec.ts
  tests/e2e/saas/settings.spec.ts
Due: lint, tsc

Update E2E testing documentation with current architecture (#393)
  content/docs/internal/reference/testing.mdx
  tests/e2e/marketing/landing.spec.ts
  tests/e2e/saas/settings.spec.ts
Due: lint, tsc

Make CI checks conditional based on changed files
  .github/workflows/ci.yml
Due: none

Make CI checks conditional based on changed files (#395)
  .github/workflows/ci.yml
Due: none

Optimize marketing app performance with PPR and caching (#394)
  apps/marketing/next.config.ts
Due: lint, tsc

Fix Vercel OOM build errors by reducing memory usage
  apps/marketing/next.config.ts
  apps/saas/next.config.ts
  apps/saas/package.json
Due: lint, tsc

Fix Vercel build: convert CopyrightYear to server component
  apps/marketing/src/components/copyright-year.tsx
Due: lint, tsc

Reverse order
  apps/saas/next.config.ts
Due: lint, tsc

Fix Vercel build: use connection() before new Date()
  apps/marketing/src/components/copyright-year.tsx
Due: lint, tsc

Try to fix Vercel OOMs (#396)
  apps/marketing/next.config.ts
  apps/saas/next.config.ts
  apps/saas/package.json
Due: lint, tsc

Enable React Compiler for automatic memoization (#384)
  apps/marketing/next.config.ts
  apps/marketing/package.json
  apps/saas/next.config.ts
  apps/saas/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, tsc

Update impl
  apps/marketing/src/app/content-policy/page.tsx
  apps/marketing/src/app/cookies/page.tsx
  apps/marketing/src/app/privacy/page.tsx
  apps/marketing/src/app/support/page.tsx
  apps/marketing/src/app/terms/page.tsx
  apps/marketing/src/components/copyright-year.tsx
  apps/marketing/src/components/copyright.tsx
  apps/marketing/src/components/marketing-footer.tsx
Due: lint, tsc

Fix Vercel build: convert CopyrightYear to server component (#397)
  apps/marketing/src/app/content-policy/page.tsx
  apps/marketing/src/app/cookies/page.tsx
  apps/marketing/src/app/privacy/page.tsx
  apps/marketing/src/app/support/page.tsx
  apps/marketing/src/app/terms/page.tsx
  apps/marketing/src/components/copyright-year.tsx
  apps/marketing/src/components/copyright.tsx
  apps/marketing/src/components/marketing-footer.tsx
Due: lint, tsc

Update dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fixes
  apps/saas/src/hooks/use-video-progress.ts
  biome.json
Due: lint, tsc

Remove barrel files and add lint rule to prevent barrel imports
  apps/saas/src/app/(api)/api/share/[id]/verify/route.ts
  apps/saas/src/workflows/video-processing/db-helpers.ts
  biome.json
  packages/lib/package.json
  packages/lib/src/api-handler.ts
  packages/lib/src/effect/index.ts
  packages/lib/src/effect/services/index.ts
Due: lint, tsc

Fix biome schema version and restore delay dependency
  apps/saas/src/hooks/use-video-progress.ts
  biome.json
Due: lint, tsc

Path conditions:
  lint: any of: **/*.{js,jsx,ts,tsx,json}
  tsc: any of: *.{ts,tsx}
  openapi: any of: src/app/api/**/route.ts
  migrations: any of: packages/lib/src/db/schema/**/*.ts
