Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    tsc:
      glob: "*.{ts,tsx}"
      run: pnpm tsc
    openapi:
      glob: "src/app/api/**/route.ts"
      run: pnpm openapi:update
      stage_fixed: true

Update
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  package.json
  pnpm-lock.yaml
  src/app/api/organizations/route.test.ts
  src/app/api/videos/route.test.ts
  src/components/comments/mention-input.tsx
  src/hooks/use-api.ts
  src/hooks/use-effect.ts
  src/hooks/use-realtime-comments.ts
  src/lib/api-errors.ts
  src/lib/api.ts
  src/lib/db/__tests__/cascade-delete.test.ts
  src/lib/effect/services/comment-repository.ts
  src/lib/i18n/config.ts
  src/lib/rate-limit.ts
  src/lib/redis.ts
  src/lib/validation/index.ts
  src/proxy.ts
  src/test/setup.tsx
  vitest.config.ts
Due: lint, tsc

Update flow
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

Fixess
  public/openapi.json
  public/openapi.yaml
  src/app/api/comments/[id]/reactions/route.ts
  src/app/api/comments/[id]/route.ts
  src/app/api/organizations/route.test.ts
  src/app/api/search/hybrid/route.ts
  src/app/api/search/saved/[id]/route.ts
  src/app/api/search/saved/route.ts
  src/app/api/search/semantic/route.ts
  src/app/api/share/[id]/verify/route.ts
  src/app/api/videos/[id]/presence/route.ts
  src/app/api/videos/[id]/progress/route.ts
  src/app/api/videos/[id]/route.ts
  src/app/api/videos/[id]/share/route.ts
  src/app/api/videos/[id]/speakers/route.ts
  src/app/api/videos/[id]/views/route.ts
  src/app/api/videos/route.test.ts
  src/app/api/videos/upload/confirm/route.ts
  src/app/api/videos/upload/presigned/route.ts
Due: lint, tsc, openapi

Updates
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  AI.md
  public/openapi.json
  public/openapi.yaml
  src/app/api/ai/analyze/route.ts
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/billing/subscription/route.ts
  src/app/api/billing/usage/route.ts
  src/app/api/channels/[id]/route.ts
  src/app/api/channels/route.ts
  src/app/api/integrations/[integrationId]/settings/route.ts
  src/app/api/integrations/google/drive/route.ts
  src/app/api/integrations/import/route.ts
  src/app/api/organizations/[id]/audit-logs/route.ts
  src/app/api/organizations/[id]/members/[userId]/permissions/route.ts
  src/app/api/organizations/[id]/members/route.ts
  src/app/api/organizations/[id]/roles/[roleId]/route.ts
  src/app/api/organizations/[id]/roles/route.ts
  src/app/api/organizations/[id]/settings/route.ts
  src/app/api/organizations/route.test.ts
  src/app/api/organizations/route.ts
  src/app/api/series/[id]/route.ts
  src/app/api/series/[id]/videos/route.ts
  src/app/api/series/route.ts
  src/app/api/user/preferences/route.ts
  src/app/api/users/me/route.ts
  src/app/api/videos/[id]/move/route.ts
  src/app/api/videos/route.test.ts
  src/app/api/webhooks/zapier/[webhookId]/route.ts
  src/app/api/webhooks/zapier/route.ts
  src/app/api/workflow-templates/[id]/route.ts
  src/app/api/workflow-templates/route.ts
  src/app/changelog/page.tsx
  src/lib/changelog.ts
  src/test/setup.tsx
  vitest.config.ts
Due: lint, tsc, openapi

More changelog entries
  src/lib/changelog.ts
Due: lint, tsc

Remove test
  src/lib/db/__tests__/cascade-delete.test.ts
Due: lint, tsc

Rename
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

Fix lefthook lint glob to match biome includes
  lefthook.yml
Due: none

Test
  package.json
  vitest.config.ts
Due: lint, tsc

Clean-up
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/api/organizations/route.test.ts
  src/app/api/videos/route.test.ts
  vitest.config.ts
Due: lint, tsc

Configure lefthook pre-commit hook setup (#213)
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/app/api/organizations/route.test.ts
  src/app/api/videos/route.test.ts
  vitest.config.ts
Due: lint, tsc

Add Effect-TS best practices documentation and align codebase
  AI.md
  docs/internal/architecture/effect-best-practices.md
  src/app/api/health/route.ts
  src/app/api/videos/[id]/process/route.ts
Due: lint, tsc, openapi

Fix test memory leaks by improving mock cleanup
  src/hooks/use-realtime-comments.test.ts
  src/hooks/use-transcript.test.ts
  src/test/setup.tsx
  vitest.config.ts
Due: lint, tsc

Review codebase for Effect-TS pattern compliance and add migration guide
  docs/internal/architecture/effect-best-practices.md
  docs/internal/architecture/effect-migration-guide.md
  src/app/api/status/route.ts
Due: lint, tsc, openapi

fix
  src/app/api/videos/route.test.ts
Due: lint, tsc

Improve Effect-TS patterns and fix anti-patterns
  docs/internal/architecture/effect-migration-guide.md
  src/app/api/activity/route.ts
  src/app/api/insights/export/route.ts
  src/lib/api-handler.ts
  src/lib/effect/services/email-notifications.ts
Due: lint, tsc, openapi

fix 2
  src/app/api/organizations/route.test.ts
Due: lint, tsc

Complete Effect-TS migration for all insights routes
  docs/internal/architecture/effect-migration-guide.md
  src/app/api/insights/effectiveness/route.ts
  src/app/api/insights/keywords/route.ts
  src/app/api/insights/overview/route.ts
  src/app/api/insights/patterns/route.ts
  src/app/api/insights/summary/route.ts
  src/app/api/insights/topics/route.ts
Due: lint, tsc, openapi

asunc
  src/hooks/use-api.test.ts
  src/hooks/use-effect.test.ts
  src/hooks/use-video-progress.test.ts
  src/test/setup.tsx
Due: lint, tsc

Review Effect.js best practices and update codebase (#214)
  AI.md
  docs/internal/architecture/effect-best-practices.md
  src/app/api/activity/route.ts
  src/app/api/health/route.ts
  src/app/api/insights/effectiveness/route.ts
  src/app/api/insights/export/route.ts
  src/app/api/insights/keywords/route.ts
  src/app/api/insights/overview/route.ts
  src/app/api/insights/patterns/route.ts
  src/app/api/insights/summary/route.ts
  src/app/api/insights/topics/route.ts
  src/app/api/status/route.ts
  src/app/api/videos/[id]/process/route.ts
  src/lib/api-handler.ts
  src/lib/effect/services/email-notifications.ts
Due: lint, tsc, openapi

Remove coverage config and use vmThreads pool
  package.json
  vitest.config.ts
Due: lint, tsc

updatye
  .github/workflows/ci.yml
  package.json
  vitest.config.ts
Due: lint, tsc

Simplify code
  public/openapi.json
  public/openapi.yaml
  src/app/api/comments/[id]/route.ts
  src/app/api/videos/[id]/comments/route.ts
  src/app/api/videos/[id]/comments/stream/route.ts
  src/components/comments/comment-list.tsx
  src/hooks/use-realtime-comments.test.ts
  src/hooks/use-realtime-comments.ts
  src/lib/realtime/comment-events.ts
Due: lint, tsc, openapi

Fix memory leak in test suite (#215)
  .github/workflows/ci.yml
  package.json
  public/openapi.json
  public/openapi.yaml
  src/app/api/comments/[id]/route.ts
  src/app/api/organizations/route.test.ts
  src/app/api/videos/[id]/comments/route.ts
  src/app/api/videos/[id]/comments/stream/route.ts
  src/app/api/videos/route.test.ts
  src/components/comments/comment-list.tsx
  src/hooks/use-api.test.ts
  src/hooks/use-effect.test.ts
  src/hooks/use-realtime-comments.test.ts
  src/hooks/use-realtime-comments.ts
  src/hooks/use-transcript.test.ts
  src/hooks/use-video-progress.test.ts
  src/lib/realtime/comment-events.ts
  src/test/setup.tsx
  vitest.config.ts
Due: lint, tsc, openapi

Codebase cleanup and quality improvements
  .env.example
  AI.md
  docs/internal/architecture/effect-best-practices.md
  package.json
  src/lib/ai.ts
  src/lib/api-errors.ts
  src/lib/i18n/request.ts
  src/lib/storage.ts
  src/lib/workflow/import-meeting.ts
Due: lint, tsc

Replace console statements with client logger for production cleanliness
  src/components/auth/accept-invitation-form.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/auth/reset-password-form.tsx
  src/components/auth/verification-pending-form.tsx
  src/components/auth/verify-email-form.tsx
  src/components/billing/payment-method-list.tsx
  src/components/billing/subscription-manager.tsx
  src/components/command-bar.tsx
  src/components/comments/comment-item.tsx
  src/components/integrations/google-drive-picker.tsx
  src/components/integrations/integration-settings.tsx
  src/components/integrations/meeting-calendar.tsx
  src/components/integrations/recording-browser.tsx
  src/components/marketing-header.tsx
  src/components/moderation/report-dialog.tsx
  src/components/notifications/notification-bell.tsx
  src/components/organization-switcher.tsx
  src/components/search/saved-searches.tsx
  src/components/search/search-history.tsx
  src/components/search/search-input.tsx
  src/components/search/search-page-content.tsx
  src/components/top-nav.tsx
  src/components/video-upload.tsx
  src/components/video/share-dialog.tsx
  src/components/video/transcript-editor.tsx
  src/components/video/video-actions.tsx
  src/components/video/video-player-with-progress.tsx
  src/components/video/video-player/hooks/use-captions.ts
  src/components/video/video-player/hooks/use-video-controls.ts
  src/components/video/video-player/hooks/use-view-tracking.ts
  src/hooks/use-video-presence.ts
  src/hooks/use-video-progress.test.ts
  src/hooks/use-video-progress.ts
  src/lib/client-logger.ts
Due: lint, tsc

Replace console statements with structured logger in API routes
  src/app/api/activity/stats/route.ts
  src/app/api/ai/analyze/route.ts
  src/app/api/embed/[id]/route.ts
  src/app/api/embed/[id]/view/route.ts
  src/app/api/integrations/github/callback/route.ts
  src/app/api/integrations/google/calendar/route.ts
  src/app/api/integrations/google/callback/route.ts
  src/app/api/integrations/google/drive/route.ts
  src/app/api/integrations/import/route.ts
  src/app/api/integrations/slack/callback/route.ts
  src/app/api/integrations/slack/channels/route.ts
  src/app/api/integrations/teams/callback/route.ts
  src/app/api/integrations/teams/channels/route.ts
  src/app/api/integrations/zoom/callback/route.ts
  src/app/api/invitations/[id]/route.ts
  src/app/api/organizations/[id]/audit-logs/exports/[exportId]/route.ts
  src/app/api/organizations/[id]/audit-logs/route.ts
  src/app/api/organizations/[id]/audit-logs/stats/route.ts
  src/app/api/organizations/[id]/members/[userId]/permissions/route.ts
  src/app/api/organizations/[id]/members/route.ts
  src/app/api/organizations/[id]/roles/[roleId]/route.ts
  src/app/api/organizations/[id]/roles/route.ts
  src/app/api/reports/route.ts
  src/app/api/user/export/route.ts
  src/app/api/user/preferences/route.ts
  src/app/api/users/me/export/route.ts
  src/app/api/users/me/route.ts
  src/app/api/workflow-templates/[id]/route.ts
  src/app/api/workflow-templates/route.ts
Due: lint, tsc, openapi

Fix environment variable quote handling in test setup
  src/test/setup.tsx
Due: lint, tsc

Rename clientLogger to logger for simplicity
  src/components/auth/accept-invitation-form.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/auth/reset-password-form.tsx
  src/components/auth/verification-pending-form.tsx
  src/components/auth/verify-email-form.tsx
  src/components/billing/payment-method-list.tsx
  src/components/billing/subscription-manager.tsx
  src/components/command-bar.tsx
  src/components/comments/comment-item.tsx
  src/components/integrations/google-drive-picker.tsx
  src/components/integrations/integration-settings.tsx
  src/components/integrations/meeting-calendar.tsx
  src/components/integrations/recording-browser.tsx
  src/components/marketing-header.tsx
  src/components/moderation/report-dialog.tsx
  src/components/notifications/notification-bell.tsx
  src/components/organization-switcher.tsx
  src/components/search/saved-searches.tsx
  src/components/search/search-history.tsx
  src/components/search/search-input.tsx
  src/components/search/search-page-content.tsx
  src/components/top-nav.tsx
  src/components/video-upload.tsx
  src/components/video/share-dialog.tsx
  src/components/video/transcript-editor.tsx
  src/components/video/video-actions.tsx
  src/components/video/video-player-with-progress.tsx
  src/components/video/video-player/hooks/use-captions.ts
  src/components/video/video-player/hooks/use-video-controls.ts
  src/components/video/video-player/hooks/use-view-tracking.ts
  src/lib/client-logger.ts
Due: lint, tsc

Fix Effect.js best practices violations and improve code quality
  public/openapi.json
  public/openapi.yaml
  src/app/api/integrations/google/webhook/route.ts
  src/app/api/integrations/zoom/webhook/route.ts
  src/app/api/webhooks/zapier/[webhookId]/route.ts
  src/app/api/webhooks/zapier/route.ts
  src/lib/effect/services/slack-monitoring.ts
Due: lint, tsc, openapi

Fix bugs and improve code quality (#217)
  public/openapi.json
  public/openapi.yaml
  src/app/api/integrations/google/webhook/route.ts
  src/app/api/integrations/zoom/webhook/route.ts
  src/app/api/webhooks/zapier/[webhookId]/route.ts
  src/app/api/webhooks/zapier/route.ts
  src/lib/effect/services/slack-monitoring.ts
Due: lint, tsc, openapi

Add comprehensive Effect-TS type safety improvements
  src/app/api/reports/route.ts
  src/lib/api-errors.ts
  src/lib/effect/errors.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/request-context.ts
  src/lib/validation/index.ts
Due: lint, tsc, openapi

Fix lint: replace any with proper generics in combineValidators
  src/lib/validation/index.ts
Due: lint, tsc

Add full type safety with EffectTS (#218)
  src/app/api/reports/route.ts
  src/lib/api-errors.ts
  src/lib/effect/errors.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/request-context.ts
  src/lib/validation/index.ts
Due: lint, tsc, openapi

Fix Vercel analytics not respecting cookie consent
  src/app/layout.tsx
  src/components/legal/analytics-consent-wrapper.tsx
Due: lint, tsc

Clean-up
  .env.example
  AI.md
  docs/internal/architecture/authentication.md
  docs/internal/architecture/backend.md
  docs/internal/architecture/deployment-environments.md
  docs/internal/architecture/deployment.md
  docs/internal/architecture/video-processing.md
  docs/internal/reference/contributing.md
  docs/internal/reference/environment-config.md
  docs/public/api/ai.md
  docs/public/api/authentication.md
  drizzle/0000_init.sql
  drizzle/0001_vector.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  package.json
  public/openapi.json
  public/openapi.yaml
  scripts/setup-stripe.ts
  src/app/(auth)/accept-invitation/[id]/page.tsx
  src/app/(main)/[organization]/series/page.tsx
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/videos/[id]/comments/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/auth.ts
  src/lib/effect/services/billing.ts
  src/lib/effect/services/slack-monitoring.ts
  src/lib/effect/services/video-ai-processor.ts
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/test/setup.tsx
  src/workflows/import-meeting.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/subscription-enforcement.ts
  src/workflows/trial-reminders.ts
  src/workflows/uptime-monitor.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi
