Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

tsc:
  run: pnpm tsc

openapi:
  run: pnpm openapi:update
  stage_fixed: true

chore: remove testing framework documentation
  .claude/testing-framework/FINAL-REPORT.md
  .claude/testing-framework/RECOMMENDATIONS.md
  .claude/testing-framework/rec-1-fix-code-reviewer/AFTER.md
  .claude/testing-framework/rec-1-fix-code-reviewer/ANALYSIS.md
  .claude/testing-framework/rec-1-fix-code-reviewer/BEFORE.md
  .claude/testing-framework/rec-2-tsc-hook/AFTER.md
  .claude/testing-framework/rec-2-tsc-hook/ANALYSIS.md
  .claude/testing-framework/rec-2-tsc-hook/BEFORE.md
  .claude/testing-framework/rec-3-test-hook/ANALYSIS.md
  .claude/testing-framework/rec-4-effect-skill/ANALYSIS.md
Due: none

Add video visibility and sharing system
  docs/internal/architecture/database.md
  drizzle/0007_add_video_visibility_and_shares.sql
  drizzle/meta/_journal.json
  src/app/api/videos/[id]/route.ts
  src/app/api/videos/[id]/shares/route.ts
  src/app/api/videos/route.test.ts
  src/lib/api/videos.ts
  src/lib/db/schema/enums.ts
  src/lib/db/schema/sharing.ts
  src/lib/db/schema/videos.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.test.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/video-shares-repository.ts
  src/lib/effect/services/watch-later.ts
  src/test/mocks.ts
Due: lint, tsc, openapi

feat(claude): add hooks, commands, and code-reviewer agent (#273)
  .claude/agents/api-architect.md
  .claude/agents/architecture-expert.md
  .claude/agents/code-reviewer.md
  .claude/agents/competitive-analyst.md
  .claude/agents/db-optimizer.md
  .claude/agents/integration-specialist.md
  .claude/agents/monetization-architect.md
  .claude/agents/perf-optimizer.md
  .claude/agents/product-strategist.md
  .claude/agents/refactoring-specialist.md
  .claude/agents/ux-rage-detector.md
  .claude/commands/code-quality.md
  .claude/commands/commit.md
  .claude/commands/pr-review.md
  .claude/commands/ticket.md
  .claude/settings.json
  .claude/skills/effect-ts-patterns/SKILL.md
Due: none

Add video visibility and sharing controls (#274)
  docs/internal/architecture/database.md
  drizzle/0007_add_video_visibility_and_shares.sql
  drizzle/meta/_journal.json
  src/app/api/videos/[id]/route.ts
  src/app/api/videos/[id]/shares/route.ts
  src/app/api/videos/route.test.ts
  src/lib/api/videos.ts
  src/lib/db/schema/enums.ts
  src/lib/db/schema/sharing.ts
  src/lib/db/schema/videos.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.test.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/video-shares-repository.ts
  src/lib/effect/services/watch-later.ts
  src/test/mocks.ts
Due: lint, tsc, openapi

Update E2E
  .github/workflows/e2e.yml
  e2e/auth.setup.ts
  e2e/auth.spec.ts
  e2e/fixtures.ts
  e2e/landing.spec.ts
  e2e/organization.spec.ts
  e2e/settings.spec.ts
  e2e/upload.spec.ts
  e2e/videos.spec.ts
  scripts/seed-e2e-user.ts
Due: lint, tsc

Fix claude schema
  .claude/settings.json
Due: none

Fix invitation email style
  public/openapi.json
  public/openapi.yaml
  src/app/api/invitations/[id]/route.ts
  src/lib/auth.ts
Due: lint, tsc, openapi

Fix opengraph images
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-SemiBold.ttf
Due: none

Fix claude schema (#275)
  .claude/settings.json
Due: none

Fix invitation email style (#276)
  public/openapi.json
  public/openapi.yaml
  src/app/api/invitations/[id]/route.ts
  src/lib/auth.ts
Due: lint, tsc, openapi

Fix opengraph images (#277)
  assets/fonts/Inter-Bold.ttf
  assets/fonts/Inter-SemiBold.ttf
Due: none

Add missing scripts
  package.json
Due: none

Add pre-build database migrations to vercel.ts
  tsconfig.json
  vercel.ts
Due: lint, tsc

Add missing scripts (#278)
  package.json
Due: none

Fix E2E tests to match current UI
  e2e/landing.spec.ts
  e2e/organization.spec.ts
  e2e/settings.spec.ts
  e2e/upload.spec.ts
  e2e/videos.spec.ts
Due: lint, tsc

Apply suggestions from code review
  vercel.ts
Due: lint, tsc

Add database migrations before Vercel deployment (#279)
  tsconfig.json
  vercel.ts
Due: lint, tsc

Fix E2E test failures in CI
  e2e/fixtures.ts
  e2e/organization.spec.ts
  e2e/upload.spec.ts
  e2e/videos.spec.ts
Due: lint, tsc

Re-enable and fix E2E tests (#254)
  .github/workflows/e2e.yml
  e2e/auth.setup.ts
  e2e/auth.spec.ts
  e2e/fixtures.ts
  e2e/landing.spec.ts
  e2e/organization.spec.ts
  e2e/settings.spec.ts
  e2e/upload.spec.ts
  e2e/videos.spec.ts
  playwright.config.ts
  scripts/seed-e2e-user.ts
Due: lint, tsc

Rename vercel checks
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

Clean-up headerbar options
  src/components/marketing-header.tsx
  src/components/org-settings-top-nav.tsx
  src/components/top-nav.tsx
  src/components/user-settings-top-nav.tsx
Due: lint, tsc

Rename vercel checks (#280)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

Clean-up headerbar options (#281)
  src/components/marketing-header.tsx
  src/components/org-settings-top-nav.tsx
  src/components/top-nav.tsx
  src/components/user-settings-top-nav.tsx
Due: lint, tsc

Remove focus rings from all UI components
  src/app/globals.css
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toast.tsx
  src/components/ui/toggle.tsx
Due: lint, tsc

Improve design system consistency and documentation
  docs/internal/reference/styling.md
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
Due: lint, tsc

Add pending invitations list to organization members page
  src/app/(org-settings)/[organization]/settings/members/page.tsx
  src/app/api/organizations/[id]/invitations/route.ts
Due: lint, tsc, openapi

Fix lint formatting
  src/components/ui/sidebar.tsx
  src/components/ui/tabs.tsx
Due: lint, tsc

Establish and enforce consistent design system (#283)
  docs/internal/reference/styling.md
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
Due: lint, tsc

Add PostHog analytics, feature flags, and error tracking
  .env.example
  docs/internal/architecture/analytics.md
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/lib/posthog/client.tsx
  src/lib/posthog/feature-flags.tsx
  src/lib/posthog/hooks.ts
  src/lib/posthog/index.ts
  src/lib/posthog/server.ts
Due: lint, tsc

Add invitation list to organization members page (#284)
  src/app/(org-settings)/[organization]/settings/members/page.tsx
  src/app/api/organizations/[id]/invitations/route.ts
Due: lint, tsc, openapi

Change PostHog default host from US to EU cloud
  .env.example
  next.config.ts
  src/lib/posthog/client.tsx
  src/lib/posthog/server.ts
Due: lint, tsc

Clean up PostHog: remove made-up feature flags and events
  docs/internal/architecture/analytics.md
  src/lib/posthog/feature-flags.tsx
  src/lib/posthog/hooks.ts
  src/lib/posthog/index.ts
Due: lint, tsc

Fix database connection leaks
  src/lib/db/index.ts
  src/lib/effect/services/database.ts
Due: lint, tsc

Remove fumadocs and set up Mintlify rewrites
  package.json
  pnpm-lock.yaml
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/api/reference/page.tsx
  src/app/docs/internal/[[...slug]]/page.tsx
  src/app/docs/internal/layout.tsx
  src/app/docs/layout.tsx
  src/lib/docs/markdown.ts
  src/lib/docs/source.ts
  vercel.ts
Due: lint, tsc

Fix database connection leaks (#287)
  src/lib/db/index.ts
  src/lib/effect/services/database.ts
Due: lint, tsc

Cleanup
  src/lib/db/index.ts
  src/lib/effect/services/database.ts
  src/lib/env/client.ts
  src/lib/posthog/client.tsx
Due: lint, tsc

Add components
  src/components/auth/accept-invitation-form.tsx
  src/components/auth/forgot-password-form.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
Due: lint, tsc

Revert "Add components"
  src/components/auth/accept-invitation-form.tsx
  src/components/auth/forgot-password-form.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
Due: lint, tsc

Better-auth
  src/lib/auth.ts
  src/lib/posthog/client.tsx
Due: lint, tsc

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  tsc: any of: *.{ts,tsx}
  openapi: any of: src/app/api/**/route.ts
