Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    tsc:
      glob: "*.{ts,tsx}"
      run: pnpm tsc
    openapi:
      glob: "src/app/api/**/route.ts"
      run: pnpm openapi:update
      stage_fixed: true

Add Slack, Teams, Zapier integrations and activity feed
  docs/internal/architecture/integrations.md
  src/app/api/activity/route.ts
  src/app/api/activity/stats/route.ts
  src/app/api/integrations/slack/authorize/route.ts
  src/app/api/integrations/slack/callback/route.ts
  src/app/api/integrations/slack/channels/route.ts
  src/app/api/integrations/slack/webhook/route.ts
  src/app/api/integrations/teams/authorize/route.ts
  src/app/api/integrations/teams/callback/route.ts
  src/app/api/integrations/teams/channels/route.ts
  src/app/api/webhooks/zapier/[webhookId]/deliveries/route.ts
  src/app/api/webhooks/zapier/[webhookId]/route.ts
  src/app/api/webhooks/zapier/route.ts
  src/lib/db/schema.ts
  src/lib/effect/services/activity-feed-repository.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/microsoft-teams.ts
  src/lib/effect/services/slack.ts
  src/lib/effect/services/zapier-webhooks.ts
Due: lint, tsc, openapi

Add enterprise security features for Phase 3 Release Candidate
  docs/internal/architecture/security.md
  drizzle/0006_enterprise_security.sql
  src/app/api/organizations/[id]/audit-logs/exports/[exportId]/route.ts
  src/app/api/organizations/[id]/audit-logs/route.ts
  src/app/api/organizations/[id]/audit-logs/stats/route.ts
  src/app/api/organizations/[id]/members/[userId]/permissions/route.ts
  src/app/api/organizations/[id]/roles/[roleId]/route.ts
  src/app/api/organizations/[id]/roles/route.ts
  src/app/api/organizations/[id]/sso/route.ts
  src/app/api/organizations/[id]/storage/route.ts
  src/lib/audit-log.ts
  src/lib/db/schema.ts
  src/lib/multi-region-storage.ts
  src/lib/rbac.ts
  src/lib/sso.ts
Due: lint, tsc, openapi

Add enterprise sales package and roadmap documentation
  docs/internal/roadmap-phase4.md
  docs/public/enterprise/README.md
Due: none

Add better-auth session validation to middleware
  src/middleware.ts
Due: lint, tsc

Move OpenAPI generation entirely to build-time script
  public/openapi.json
  public/openapi.yaml
  scripts/generate-openapi.ts
  src/components/docs/openapi-viewer.tsx
  src/lib/openapi/auto-endpoints.ts
  src/lib/openapi/endpoints.ts
  src/lib/openapi/generator.ts
  src/lib/openapi/index.ts
  src/lib/openapi/response-schemas.ts
  src/lib/openapi/route-parser.ts
Due: lint, tsc

Prepare for general availability launch (#163)
  docs/internal/roadmap-phase4.md
  docs/public/api/embed.md
  docs/public/enterprise/README.md
  docs/public/guides/workflow-templates.md
  docs/public/sla.md
  docs/public/support-tiers.md
  src/app/api/embed/[id]/route.ts
  src/app/api/embed/[id]/view/route.ts
  src/app/api/referrals/code/[code]/route.ts
  src/app/api/referrals/rewards/route.ts
  src/app/api/referrals/route.ts
  src/app/api/workflow-templates/[id]/route.ts
  src/app/api/workflow-templates/route.ts
  src/app/embed/[id]/page.tsx
  src/app/embed/layout.tsx
  src/lib/db/schema.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/referral-repository.ts
Due: lint, tsc, openapi

Enhanced collaboration features for team productivity (#166)
  docs/internal/architecture/integrations.md
  src/app/api/activity/route.ts
  src/app/api/activity/stats/route.ts
  src/app/api/integrations/slack/authorize/route.ts
  src/app/api/integrations/slack/callback/route.ts
  src/app/api/integrations/slack/channels/route.ts
  src/app/api/integrations/slack/webhook/route.ts
  src/app/api/integrations/teams/authorize/route.ts
  src/app/api/integrations/teams/callback/route.ts
  src/app/api/integrations/teams/channels/route.ts
  src/app/api/webhooks/zapier/[webhookId]/deliveries/route.ts
  src/app/api/webhooks/zapier/[webhookId]/route.ts
  src/app/api/webhooks/zapier/route.ts
  src/lib/db/schema.ts
  src/lib/effect/services/activity-feed-repository.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/microsoft-teams.ts
  src/lib/effect/services/slack.ts
  src/lib/effect/services/zapier-webhooks.ts
Due: lint, tsc, openapi

Use catch-all matcher with public route exclusions
  src/middleware.ts
Due: lint, tsc

Generate OpenAPI spec from route files (#153)
  biome.json
  docs/public/api/README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  scripts/generate-openapi.ts
  scripts/setup-stripe.ts
  src/app/api/openapi.json/route.ts
  src/app/api/openapi.yaml/route.ts
  src/components/docs/openapi-viewer.tsx
  src/lib/openapi/endpoints.ts
  src/lib/openapi/generator.ts
  src/lib/openapi/index.ts
  src/lib/openapi/response-schemas.ts
Due: lint, tsc, openapi

Prepare enterprise security and compliance features (#164)
  docs/internal/architecture/security.md
  drizzle/0006_enterprise_security.sql
  src/app/api/organizations/[id]/audit-logs/exports/[exportId]/route.ts
  src/app/api/organizations/[id]/audit-logs/route.ts
  src/app/api/organizations/[id]/audit-logs/stats/route.ts
  src/app/api/organizations/[id]/members/[userId]/permissions/route.ts
  src/app/api/organizations/[id]/roles/[roleId]/route.ts
  src/app/api/organizations/[id]/roles/route.ts
  src/app/api/organizations/[id]/sso/route.ts
  src/app/api/organizations/[id]/storage/route.ts
  src/lib/audit-log.ts
  src/lib/db/schema.ts
  src/lib/multi-region-storage.ts
  src/lib/rbac.ts
  src/lib/sso.ts
Due: lint, tsc, openapi

Add comprehensive unit tests for custom React hooks
  src/app/(main)/[organization]/search/page.tsx
  src/hooks/use-api.test.ts
  src/hooks/use-auth.test.ts
  src/hooks/use-effect.test.ts
  src/hooks/use-realtime-comments.test.ts
  src/hooks/use-toast.test.ts
  src/hooks/use-transcript.test.ts
  src/hooks/use-video-progress.test.ts
  src/lib/api/videos.ts
  src/lib/effect/services/comment-repository.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/watch-later.ts
  src/lib/rate-limit.ts
  src/test/mocks.ts
Due: lint, tsc

Restore better-auth middleware checks (#165)
  src/middleware.ts
Due: lint, tsc

Expand test coverage across codebase (#167)
  src/app/(main)/[organization]/search/page.tsx
  src/hooks/use-api.test.ts
  src/hooks/use-auth.test.ts
  src/hooks/use-effect.test.ts
  src/hooks/use-realtime-comments.test.ts
  src/hooks/use-toast.test.ts
  src/hooks/use-transcript.test.ts
  src/hooks/use-video-progress.test.ts
  src/lib/api/videos.ts
  src/lib/effect/services/comment-repository.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/watch-later.ts
  src/lib/rate-limit.ts
  src/test/mocks.ts
Due: lint, tsc

Fix workflow build errors by removing Node.js dependencies
  package.json
  pnpm-lock.yaml
  src/lib/logger.ts
  src/workflows/scheduled-cleanup.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
  src/workflows/uptime-monitor.ts
  src/workflows/video-processing.ts
  src/workflows/workflow-logger.ts
Due: lint, tsc

Update
  src/proxy.ts
Due: lint, tsc

Set up build environment and clone repository (#168)
  package.json
  pnpm-lock.yaml
  src/lib/logger.ts
  src/proxy.ts
  src/workflows/scheduled-cleanup.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
  src/workflows/uptime-monitor.ts
  src/workflows/video-processing.ts
  src/workflows/workflow-logger.ts
Due: lint, tsc

Updates
  .claude/agents/growth-engineer.md
  .claude/agents/monetization-architect.md
  docs/internal/roadmap-phase4.md
  public/openapi.json
  public/openapi.yaml
Due: none

Update proxy
  proxy.ts
  src/proxy.ts
Due: lint, tsc

Remove dynamic
  src/app/api/integrations/google/drive/route.ts
  src/app/api/integrations/slack/authorize/route.ts
  src/app/api/integrations/slack/callback/route.ts
  src/app/api/integrations/slack/webhook/route.ts
  src/app/api/integrations/teams/authorize/route.ts
  src/app/api/integrations/teams/callback/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/app/api/videos/upload/presigned/route.ts
Due: lint, tsc, openapi

Move new Date() to client component for cacheComponents compatibility
  src/app/content-policy/page.tsx
  src/app/cookies/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/copyright-year.tsx
Due: lint, tsc

Add Suspense boundary around new Date() in CopyrightYear client component
  src/components/copyright-year.tsx
Due: lint, tsc

Fix process.env usages
  src/app/(main)/[organization]/series/page.tsx
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/health/route.ts
  src/app/api/integrations/zoom/webhook/route.ts
  src/app/api/videos/cleanup/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/api-errors.ts
  src/lib/audit-log.ts
  src/lib/auth.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/transcription.ts
  src/lib/effect/services/translation.ts
  src/lib/env/server.ts
  src/lib/error-logging.ts
  src/lib/logger.ts
  src/lib/rate-limit.ts
  src/lib/session-security.ts
  src/proxy.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
Due: lint, tsc, openapi

Wrap organization layout in Suspense for cacheComponents compatibility
  src/app/(main)/[organization]/layout.tsx
Due: lint, tsc

Fix process.env usages (#170)
  src/app/(main)/[organization]/series/page.tsx
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/health/route.ts
  src/app/api/integrations/zoom/webhook/route.ts
  src/app/api/videos/cleanup/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/api-errors.ts
  src/lib/audit-log.ts
  src/lib/auth.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/transcription.ts
  src/lib/effect/services/translation.ts
  src/lib/env/server.ts
  src/lib/error-logging.ts
  src/lib/logger.ts
  src/lib/rate-limit.ts
  src/lib/session-security.ts
  src/proxy.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
Due: lint, tsc, openapi

Wrap embed page in Suspense for useParams/useSearchParams compatibility
  src/app/embed/[id]/page.tsx
Due: lint, tsc

Use CopyrightYear component in marketing footer for cacheComponents compatibility
  src/components/marketing-footer.tsx
Due: lint, tsc

Wrap share page in Suspense for cacheComponents compatibility
  src/app/share/[id]/page.tsx
Due: lint, tsc

Delete roadmap
  docs/internal/roadmap-phase4.md
Due: none

Wrap additional pages in Suspense for cacheComponents compatibility
  src/app/(main)/[organization]/admin/moderation/page.tsx
  src/app/(main)/[organization]/settings/integrations/page.tsx
  src/app/(main)/[organization]/settings/members/page.tsx
  src/app/(main)/[organization]/settings/organization/page.tsx
Due: lint, tsc

Use connection() instead of force-dynamic for API routes
  src/app/api/health/ai/route.ts
  src/app/api/health/r2/route.ts
  src/app/api/health/route.ts
  src/app/api/oauth/consents/route.ts
  src/app/api/search/quick/route.ts
  src/app/api/search/route.ts
  src/app/api/search/suggestions/route.ts
  src/app/api/status/route.ts
Due: lint, tsc, openapi

feat: Implement Knowledge Graph for Video Decisions
  src/app/api/knowledge/context/route.ts
  src/app/api/knowledge/decisions/[id]/route.ts
  src/app/api/knowledge/decisions/route.ts
  src/app/api/knowledge/graph/route.ts
  src/app/api/knowledge/timeline/route.ts
  src/app/api/videos/[id]/decisions/route.ts
  src/components/knowledge/decision-timeline.tsx
  src/components/knowledge/video-decisions-sidebar.tsx
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/decision-extraction.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/knowledge-graph-repository.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Add Decision Registry feature with search and filter support
  src/app/(main)/[organization]/decisions/page.tsx
  src/app/api/decisions/[id]/links/route.ts
  src/app/api/decisions/[id]/participants/route.ts
  src/app/api/decisions/[id]/route.ts
  src/app/api/decisions/[id]/supersede/route.ts
  src/app/api/decisions/[id]/tags/route.ts
  src/app/api/decisions/export/route.ts
  src/app/api/decisions/route.ts
  src/app/api/decisions/subscriptions/route.ts
  src/app/api/decisions/tags/route.ts
  src/components/decisions/decision-card.tsx
  src/components/decisions/decision-filters.tsx
  src/components/decisions/decision-form.tsx
  src/components/decisions/index.ts
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/decision-repository.ts
  src/lib/effect/services/index.ts
  src/lib/types.ts
Due: lint, tsc, openapi

Add GitHub context integration foundation
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/code-links-repository.ts
  src/lib/effect/services/code-reference-detector.ts
  src/lib/effect/services/github.ts
  src/lib/effect/services/index.ts
Due: lint, tsc

Add speaker diarization feature
  src/app/api/analytics/speakers/[speakerId]/route.ts
  src/app/api/analytics/speakers/route.ts
  src/app/api/videos/[id]/analytics/talk-time/route.ts
  src/app/api/videos/[id]/speakers/[speakerId]/route.ts
  src/app/api/videos/[id]/speakers/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/components/video/index.ts
  src/components/video/speaker-legend.tsx
  src/components/video/speaker-timeline.tsx
  src/components/video/talk-time-chart.tsx
  src/lib/db/schema.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/speaker-diarization.ts
  src/lib/effect/services/speaker-repository.ts
  src/lib/env/server.ts
  src/workflows/import-meeting.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Add GitHub context integration for bidirectional video-code linking
  src/app/api/code-context/route.ts
  src/app/api/integrations/github/authorize/route.ts
  src/app/api/integrations/github/callback/route.ts
  src/app/api/repos/[owner]/[repo]/context/route.ts
  src/app/api/videos/[id]/code-links/route.ts
  src/app/api/videos/[id]/detect-code-refs/route.ts
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/code-links-repository.ts
  src/lib/effect/services/code-reference-detector.ts
  src/lib/effect/services/github.ts
  src/lib/effect/services/index.ts
Due: lint, tsc, openapi

Add Decision Registry detail page, loading states, and documentation
  docs/internal/architecture/database.md
  docs/public/api/decisions.md
  src/app/(main)/[organization]/decisions/[id]/loading.tsx
  src/app/(main)/[organization]/decisions/[id]/page.tsx
  src/app/(main)/[organization]/decisions/decisions-client.tsx
  src/app/(main)/[organization]/decisions/loading.tsx
  src/app/(main)/[organization]/decisions/page.tsx
  src/app/api/decisions/export/route.ts
  src/app/api/decisions/route.ts
  src/lib/effect/services/decision-repository.ts
Due: lint, tsc, openapi

Build searchable decision registry system (#182)
  docs/internal/architecture/database.md
  docs/public/api/decisions.md
  src/app/(main)/[organization]/decisions/[id]/loading.tsx
  src/app/(main)/[organization]/decisions/[id]/page.tsx
  src/app/(main)/[organization]/decisions/decisions-client.tsx
  src/app/(main)/[organization]/decisions/loading.tsx
  src/app/(main)/[organization]/decisions/page.tsx
  src/app/api/decisions/[id]/links/route.ts
  src/app/api/decisions/[id]/participants/route.ts
  src/app/api/decisions/[id]/route.ts
  src/app/api/decisions/[id]/supersede/route.ts
  src/app/api/decisions/[id]/tags/route.ts
  src/app/api/decisions/export/route.ts
  src/app/api/decisions/route.ts
  src/app/api/decisions/subscriptions/route.ts
  src/app/api/decisions/tags/route.ts
  src/components/decisions/decision-card.tsx
  src/components/decisions/decision-filters.tsx
  src/components/decisions/decision-form.tsx
  src/components/decisions/index.ts
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/decision-repository.ts
  src/lib/effect/services/index.ts
  src/lib/types.ts
Due: lint, tsc, openapi
