Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    tsc:
      glob: "*.{ts,tsx}"
      run: pnpm tsc
    openapi:
      glob: "src/app/api/**/route.ts"
      run: pnpm openapi:update
      stage_fixed: true

Document deployment strategy for two environments (#192)
  docs/internal/architecture/README.md
  docs/internal/architecture/deployment-environments.md
  docs/internal/architecture/deployment.md
Due: none

Update all dependencies to latest versions
  biome.json
  package.json
  pnpm-lock.yaml
  src/lib/effect/services/billing-middleware.ts
Due: lint, tsc

Add comprehensive Effect-TS service tests with mock layers
  src/lib/effect/services/auth.test.ts
  src/lib/effect/services/comment-repository.integration.test.ts
  src/lib/effect/services/notification-repository.integration.test.ts
  src/lib/effect/services/storage.test.ts
  src/lib/effect/services/stripe.test.ts
  src/lib/effect/services/video-repository.integration.test.ts
  src/test/effect-test-utils.ts
Due: lint, tsc

Add comprehensive tests with Effect dependency injection (#199)
  src/lib/effect/services/auth.test.ts
  src/lib/effect/services/comment-repository.integration.test.ts
  src/lib/effect/services/notification-repository.integration.test.ts
  src/lib/effect/services/storage.test.ts
  src/lib/effect/services/stripe.test.ts
  src/lib/effect/services/video-repository.integration.test.ts
  src/test/effect-test-utils.ts
Due: lint, tsc

Update dependencies and fix build errors (#198)
  biome.json
  package.json
  pnpm-lock.yaml
  src/lib/effect/services/billing-middleware.ts
Due: lint, tsc

Fix lint issues in test files
  src/lib/effect/services/auth.test.ts
  src/lib/effect/services/storage.test.ts
  src/lib/effect/services/video-repository.integration.test.ts
Due: lint, tsc

Find and fix bugs (#200)
  src/lib/effect/services/auth.test.ts
  src/lib/effect/services/storage.test.ts
  src/lib/effect/services/video-repository.integration.test.ts
Due: lint, tsc

Add semantic search with pgvector for concept-based discovery
  docs/internal/architecture/database.md
  docs/internal/architecture/semantic-search.md
  drizzle/0007_semantic_search.sql
  src/app/api/search/hybrid/route.ts
  src/app/api/search/semantic/route.ts
  src/app/api/videos/[videoId]/embeddings/route.ts
  src/app/api/videos/[videoId]/similar/route.ts
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/embedding.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/semantic-search-repository.ts
Due: lint, tsc, openapi

Add AI-powered insights dashboard with topic trends and action tracking
  docs/internal/architecture/database.md
  docs/public/api/insights.md
  src/app/(main)/[organization]/dashboard/insights/loading.tsx
  src/app/(main)/[organization]/dashboard/insights/page.tsx
  src/app/api/insights/action-items/[id]/route.ts
  src/app/api/insights/action-items/route.ts
  src/app/api/insights/effectiveness/route.ts
  src/app/api/insights/keywords/route.ts
  src/app/api/insights/overview/route.ts
  src/app/api/insights/topics/route.ts
  src/components/insights/action-item-tracker.tsx
  src/components/insights/index.ts
  src/components/insights/insights-overview.tsx
  src/components/insights/keyword-cloud.tsx
  src/components/insights/meeting-effectiveness.tsx
  src/components/insights/topic-trends.tsx
  src/lib/db/schema.ts
Due: lint, tsc, openapi

Implement semantic search for concept discovery (#201)
  docs/internal/architecture/database.md
  docs/internal/architecture/semantic-search.md
  drizzle/0007_semantic_search.sql
  src/app/api/search/hybrid/route.ts
  src/app/api/search/semantic/route.ts
  src/app/api/videos/[videoId]/embeddings/route.ts
  src/app/api/videos/[videoId]/similar/route.ts
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/embedding.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/semantic-search-repository.ts
Due: lint, tsc, openapi

Add meeting insights summary, patterns analysis, and export features
  docs/public/api/insights.md
  src/app/(main)/[organization]/dashboard/insights/page.tsx
  src/app/api/insights/export/route.ts
  src/app/api/insights/patterns/route.ts
  src/app/api/insights/summary/route.ts
  src/components/insights/index.ts
  src/components/insights/insights-summary.tsx
  src/components/insights/meeting-patterns.tsx
Due: lint, tsc, openapi

Build AI-powered team video insights dashboard (#202)
  docs/internal/architecture/database.md
  docs/public/api/insights.md
  src/app/(main)/[organization]/dashboard/insights/loading.tsx
  src/app/(main)/[organization]/dashboard/insights/page.tsx
  src/app/api/insights/action-items/[id]/route.ts
  src/app/api/insights/action-items/route.ts
  src/app/api/insights/effectiveness/route.ts
  src/app/api/insights/export/route.ts
  src/app/api/insights/keywords/route.ts
  src/app/api/insights/overview/route.ts
  src/app/api/insights/patterns/route.ts
  src/app/api/insights/summary/route.ts
  src/app/api/insights/topics/route.ts
  src/components/insights/action-item-tracker.tsx
  src/components/insights/index.ts
  src/components/insights/insights-overview.tsx
  src/components/insights/insights-summary.tsx
  src/components/insights/keyword-cloud.tsx
  src/components/insights/meeting-effectiveness.tsx
  src/components/insights/meeting-patterns.tsx
  src/components/insights/topic-trends.tsx
  src/lib/db/schema.ts
Due: lint, tsc, openapi

Improve documentation readability and structure
  docs/README.md
  docs/internal/README.md
  docs/internal/architecture/README.md
  docs/internal/architecture/summary.md
  docs/internal/reference/development-setup.md
  docs/public/README.md
  docs/public/api/README.md
  docs/public/guides/README.md
  docs/public/guides/getting-started.md
  docs/public/guides/troubleshooting.md
Due: none

Improve documentation clarity and readability (#203)
  docs/README.md
  docs/internal/README.md
  docs/internal/architecture/README.md
  docs/internal/architecture/summary.md
  docs/internal/reference/development-setup.md
  docs/public/README.md
  docs/public/api/README.md
  docs/public/guides/README.md
  docs/public/guides/getting-started.md
  docs/public/guides/troubleshooting.md
Due: none

Simplify API docs to reference OpenAPI spec
  docs/public/api/comments.md
  docs/public/api/organizations.md
  docs/public/api/videos.md
  public/openapi.json
  public/openapi.yaml
Due: none

Review features, UI/UX and API consistency (#204)
  docs/public/api/comments.md
  docs/public/api/organizations.md
  docs/public/api/videos.md
  public/openapi.json
  public/openapi.yaml
Due: none

Harden auth and billing security for production release
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/db/schema.ts
  src/lib/effect/services/billing-repository.ts
  src/lib/env/server.ts
  src/lib/rate-limit.ts
  src/lib/session-security.ts
Due: lint, tsc, openapi

Add internationalization support for 16 languages
  messages/ar.json
  messages/bn.json
  messages/ca.json
  messages/de.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/it.json
  messages/ja.json
  messages/ko.json
  messages/pt.json
  messages/ru.json
  messages/tr.json
  messages/vi.json
  messages/zh.json
  src/lib/i18n/config.ts
Due: lint, tsc

Standardize API routes to use consistent Effect-TS patterns
  AI.md
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/invoices/route.ts
  src/app/api/billing/plans/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/billing/route.ts
  src/app/api/billing/subscription/route.ts
  src/app/api/billing/usage/route.ts
  src/app/api/knowledge/context/route.ts
  src/app/api/knowledge/decisions/[id]/route.ts
  src/app/api/knowledge/decisions/route.ts
  src/app/api/knowledge/graph/route.ts
  src/app/api/knowledge/timeline/route.ts
  src/app/api/user/password/route.ts
  src/app/api/user/sessions/[sessionId]/route.ts
  src/app/api/user/sessions/route.ts
  src/app/api/videos/[id]/decisions/route.ts
  src/app/api/videos/route.ts
Due: lint, tsc, openapi

Use Spanish flag for Catalan locale
  src/lib/i18n/config.ts
Due: lint, tsc

Finalize auth and billing service integrations (#205)
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/db/schema.ts
  src/lib/effect/services/billing-repository.ts
  src/lib/env/server.ts
  src/lib/rate-limit.ts
  src/lib/session-security.ts
Due: lint, tsc, openapi

Add internationalization for 15 languages (#207)
  messages/ar.json
  messages/bn.json
  messages/ca.json
  messages/de.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/it.json
  messages/ja.json
  messages/ko.json
  messages/pt.json
  messages/ru.json
  messages/tr.json
  messages/vi.json
  messages/zh.json
  src/lib/i18n/config.ts
Due: lint, tsc

Fix lint errors and organize imports
  src/app/api/insights/export/route.ts
  src/app/api/insights/patterns/route.ts
  src/app/api/insights/summary/route.ts
  src/app/api/search/semantic/route.ts
  src/components/insights/insights-summary.tsx
  src/lib/effect/services/semantic-search-repository.ts
Due: lint, tsc, openapi

Standardize codebase to stack best practices (#206)
  AI.md
  src/app/api/billing/checkout/route.ts
  src/app/api/billing/invoices/route.ts
  src/app/api/billing/plans/route.ts
  src/app/api/billing/portal/route.ts
  src/app/api/billing/route.ts
  src/app/api/billing/subscription/route.ts
  src/app/api/billing/usage/route.ts
  src/app/api/insights/export/route.ts
  src/app/api/insights/patterns/route.ts
  src/app/api/insights/summary/route.ts
  src/app/api/knowledge/context/route.ts
  src/app/api/knowledge/decisions/[id]/route.ts
  src/app/api/knowledge/decisions/route.ts
  src/app/api/knowledge/graph/route.ts
  src/app/api/knowledge/timeline/route.ts
  src/app/api/search/semantic/route.ts
  src/app/api/user/password/route.ts
  src/app/api/user/sessions/[sessionId]/route.ts
  src/app/api/user/sessions/route.ts
  src/app/api/videos/[id]/decisions/route.ts
  src/app/api/videos/route.ts
  src/components/insights/insights-summary.tsx
  src/lib/effect/services/semantic-search-repository.ts
Due: lint, tsc, openapi

Prepare codebase for public beta
  README.md
  src/app/api/highlight-reels/[id]/render/route.ts
  src/components/clips/moments-panel.tsx
Due: lint, tsc, openapi

Prepare codebase for public beta launch (#208)
  README.md
  src/app/api/highlight-reels/[id]/render/route.ts
  src/components/clips/moments-panel.tsx
Due: lint, tsc, openapi

Use workflow sleep() for diarization polling
  docs/internal/architecture/workflows.md
  src/workflows/video-processing.ts
Due: lint, tsc

Remove limitations using Vercel development tools (#209)
  docs/internal/architecture/workflows.md
  src/workflows/video-processing.ts
Due: lint, tsc

Finish incomplete features and remove stubbed multi-region storage
  docs/internal/architecture/security.md
  docs/internal/features/highlight-reel-rendering.md
  drizzle/0008_remove_multi_region_storage.sql
  drizzle/rollbacks/0008_rollback_remove_multi_region_storage.sql
  src/app/(main)/[organization]/settings/integrations/page.tsx
  src/app/(main)/[organization]/videos/[id]/page.tsx
  src/app/api/highlight-reels/[id]/render/route.ts
  src/app/api/organizations/[id]/storage/route.ts
  src/app/api/videos/[id]/presence/route.ts
  src/components/video/add-code-link-dialog.tsx
  src/components/video/code-links-section.tsx
  src/components/video/code-links.tsx
  src/components/video/create-quote-card-dialog.tsx
  src/components/video/index.ts
  src/components/video/quote-cards.tsx
  src/components/video/video-player/video-player.tsx
  src/components/video/video-presence.tsx
  src/hooks/use-code-links.ts
  src/hooks/use-quote-cards.ts
  src/hooks/use-video-presence.ts
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/multi-region-storage.ts
  src/workflows/highlight-reel-render.ts
  src/workflows/index.ts
Due: lint, tsc, openapi

Complete highlight reel rendering feature (#210)
  docs/internal/architecture/security.md
  docs/internal/features/highlight-reel-rendering.md
  drizzle/0008_remove_multi_region_storage.sql
  drizzle/rollbacks/0008_rollback_remove_multi_region_storage.sql
  src/app/(main)/[organization]/settings/integrations/page.tsx
  src/app/(main)/[organization]/videos/[id]/page.tsx
  src/app/api/highlight-reels/[id]/render/route.ts
  src/app/api/organizations/[id]/storage/route.ts
  src/app/api/videos/[id]/presence/route.ts
  src/components/video/add-code-link-dialog.tsx
  src/components/video/code-links-section.tsx
  src/components/video/code-links.tsx
  src/components/video/create-quote-card-dialog.tsx
  src/components/video/index.ts
  src/components/video/quote-cards.tsx
  src/components/video/video-player/video-player.tsx
  src/components/video/video-presence.tsx
  src/hooks/use-code-links.ts
  src/hooks/use-quote-cards.ts
  src/hooks/use-video-presence.ts
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
  src/lib/multi-region-storage.ts
  src/workflows/highlight-reel-render.ts
  src/workflows/index.ts
Due: lint, tsc, openapi

wip
  drizzle/0000_init.sql
  drizzle/0001_add_video_processing.sql
  drizzle/0002_add_integrations.sql
  drizzle/0002_add_series_tables.sql
  drizzle/0003_add_search.sql
  drizzle/0003_fix_cascade_constraints.sql
  drizzle/0004_better_auth_stripe.sql
  drizzle/0005_session_security.sql
  drizzle/0006_enterprise_security.sql
  drizzle/0007_semantic_search.sql
  drizzle/0008_remove_multi_region_storage.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  drizzle/rollbacks/0000_rollback_init.sql
  drizzle/rollbacks/0001_rollback_add_video_processing.sql
  drizzle/rollbacks/0002_rollback_add_integrations.sql
  drizzle/rollbacks/0002_rollback_add_series_tables.sql
  drizzle/rollbacks/0003_rollback_fix_cascade_constraints.sql
  drizzle/rollbacks/0008_rollback_remove_multi_region_storage.sql
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/(main)/[organization]/settings/members/page.tsx
  src/app/(main)/[organization]/settings/oauth-apps/page.tsx
  src/app/(main)/[organization]/settings/sso/page.tsx
  src/app/api/oauth/applications/[id]/route.ts
  src/app/api/oauth/applications/route.ts
  src/app/api/organizations/[id]/sso/route.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema.ts
  src/lib/sso.ts
Due: lint, tsc, openapi

More wip
  docs/internal/architecture/authentication.md
  docs/internal/architecture/security.md
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/(main)/[organization]/search/page.tsx
  src/app/(main)/[organization]/settings/oauth-apps/page.tsx
  src/app/(main)/[organization]/settings/security/page.tsx
  src/app/api/oauth/applications/[id]/route.ts
  src/app/api/oauth/applications/route.ts
  src/app/api/oauth/consents/[id]/route.ts
  src/app/api/oauth/consents/route.ts
  src/app/api/organizations/[id]/audit-logs/route.ts
  src/app/api/organizations/[id]/audit-logs/stats/route.ts
  src/app/api/organizations/[id]/members/[userId]/permissions/route.ts
  src/app/api/organizations/[id]/roles/[roleId]/route.ts
  src/app/api/organizations/[id]/roles/route.ts
  src/app/api/user/password/route.ts
  src/app/api/user/sessions/route.ts
  src/components/auth/login-form.tsx
  src/lib/access-control.ts
  src/lib/api/videos.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema.ts
  src/lib/effect/services/clip-repository.ts
  src/lib/effect/services/comment-repository.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/watch-later.ts
  src/lib/rbac.ts
  src/lib/session-security.ts
  src/test/mocks.ts
Due: lint, tsc, openapi

fix
  src/workflows/subscription-enforcement.ts
Due: lint, tsc

add migration
  drizzle/0000_init.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
Due: none

Fix route
  public/openapi.json
  public/openapi.yaml
  src/app/api/videos/[id]/embeddings/route.ts
  src/app/api/videos/[id]/similar/route.ts
Due: lint, tsc, openapi

Fix dynamic routes prerender
  src/app/api/billing/invoices/route.ts
  src/app/api/billing/plans/route.ts
  src/app/api/billing/route.ts
  src/app/api/insights/effectiveness/route.ts
  src/app/api/insights/keywords/route.ts
  src/app/api/insights/overview/route.ts
  src/app/api/insights/topics/route.ts
  src/app/api/knowledge/context/route.ts
  src/app/api/knowledge/graph/route.ts
  src/app/api/knowledge/timeline/route.ts
Due: lint, tsc, openapi

mv workflows
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  docs/internal/architecture/database.md
  docs/internal/architecture/deployment.md
  drizzle/0000_init.sql
  drizzle/0001_vector.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/app/api/analytics/speakers/[speakerId]/route.ts
  src/app/api/analytics/speakers/route.ts
  src/app/api/videos/[id]/analytics/talk-time/route.ts
  src/app/api/videos/[id]/speakers/[speakerId]/route.ts
  src/app/api/videos/[id]/speakers/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/comments/comment-thread.tsx
  src/hooks/use-realtime-comments.ts
  src/lib/db/relations.ts
  src/lib/db/schema/custom-types.ts
  src/lib/db/schema/knowledge.ts
  src/lib/db/schema/search.ts
  src/lib/db/schema/videos.ts
  src/lib/effect/services/billing.ts
  src/lib/effect/services/knowledge-graph-repository.ts
  src/lib/effect/services/speaker-repository.ts
  src/proxy.ts
  tsconfig.json
Due: lint, tsc, openapi
