Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

Configure lefthook in package.json and add build step
  lefthook.yml
  package.json
Due: format

Update pnpm-lock.yaml with lefthook dependency
  pnpm-lock.yaml
Due: none

Integrate Better Auth Stripe plugin for subscription management
  package.json
  pnpm-lock.yaml
  src/app/(main)/[organization]/settings/billing/page.tsx
  src/app/api/billing/checkout/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/billing/billing-dashboard.tsx
  src/components/billing/payment-method-list.tsx
  src/components/billing/subscription-card.tsx
  src/components/billing/subscription-manager.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema.ts
  src/lib/effect/services/billing-repository.ts
  src/lib/effect/services/billing.ts
Due: format, lint

Replace mocked data with real database queries in video pages
  src/app/(main)/[organization]/channels/[id]/page.tsx
  src/app/(main)/[organization]/my-videos/page.tsx
  src/app/(main)/[organization]/shared/page.tsx
  src/lib/effect/index.ts
  src/lib/effect/server.ts
  src/lib/effect/services/video-repository.ts
Due: format, lint

Add lefthook precommit for code formatting (#128)
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format

refactor: consolidate formatting utilities and standardize API error … (#130)
  docs/internal/reference/contributing.md
  src/app/(main)/[organization]/settings/api-keys/page.tsx
  src/app/(main)/[organization]/videos/[id]/page.tsx
  src/app/api/channels/route.ts
  src/app/api/organizations/route.ts
  src/components/integrations/import-progress-tracker.tsx
  src/components/integrations/recording-browser.tsx
  src/components/video-card.tsx
  src/components/video/transcript-display.tsx
  src/components/video/transcript-editor.tsx
  src/lib/api-handler.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/video-processor.ts
  src/lib/format-utils.ts
  src/lib/video-processor.ts
  src/lib/workflow/import-meeting.ts
Due: format, lint

Implement missing features (#131)
  src/app/(main)/[organization]/channels/[id]/page.tsx
  src/app/(main)/[organization]/my-videos/page.tsx
  src/app/(main)/[organization]/shared/page.tsx
  src/lib/effect/index.ts
  src/lib/effect/server.ts
  src/lib/effect/services/video-repository.ts
Due: format, lint

Add Better Auth Stripe migration and update setup script
  drizzle/0004_better_auth_stripe.sql
  scripts/setup-stripe.ts
Due: format, lint

Update dependencies (#132)
  package.json
  pnpm-lock.yaml
  src/app/(main)/[organization]/analytics/page.tsx
  src/app/(main)/[organization]/settings/account/page.tsx
  src/app/(main)/[organization]/settings/api-keys/page.tsx
  src/app/(main)/[organization]/settings/integrations/page.tsx
  src/app/(main)/[organization]/settings/oauth-apps/page.tsx
  src/app/(main)/[organization]/videos/[id]/page.tsx
  src/app/api/integrations/google/webhook/route.ts
  src/app/api/integrations/zoom/webhook/route.ts
  src/app/api/organizations/[id]/analytics/route.ts
  src/app/api/share/[id]/route.ts
  src/app/api/videos/[id]/views/route.ts
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/internal/[[...slug]]/page.tsx
  src/app/docs/internal/layout.tsx
  src/app/docs/layout.tsx
  src/app/share/[id]/page.tsx
  src/components/auth/accept-invitation-form.tsx
  src/components/comments/comment-item.tsx
  src/components/docs/docs-markdown.tsx
  src/components/integrations/meeting-calendar.tsx
  src/components/video/index.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/docs/markdown.ts
  src/lib/effect/retry.ts
  src/lib/effect/server.ts
  src/lib/effect/services/comment-reactions.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/performance-monitoring.ts
  src/lib/effect/services/presence.ts
  src/lib/effect/services/series-repository.ts
  src/test/setup.tsx
Due: format, lint

Integrate Stripe with better-auth billing system (#133)
  drizzle/0004_better_auth_stripe.sql
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/setup-stripe.ts
  src/app/(main)/[organization]/settings/billing/page.tsx
  src/app/api/billing/checkout/route.ts
  src/app/api/reports/route.ts
  src/app/api/users/me/export/route.ts
  src/app/api/users/me/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/billing/billing-dashboard.tsx
  src/components/billing/payment-method-list.tsx
  src/components/billing/subscription-card.tsx
  src/components/billing/subscription-manager.tsx
  src/components/comments/comment-item.tsx
  src/components/integrations/recording-browser.tsx
  src/components/ui/chart.tsx
  src/components/video-card.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema.ts
  src/lib/effect/services/billing-repository.ts
  src/lib/effect/services/billing.ts
  src/lib/effect/services/comment-reactions.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/watch-later.ts
  src/lib/format-utils.ts
  src/test/mocks.ts
Due: format, lint

Update stripe script
  package.json
  pnpm-lock.yaml
  scripts/setup-stripe.ts
Due: format, lint

Update stripe script (#134)
  package.json
  pnpm-lock.yaml
  scripts/setup-stripe.ts
Due: format, lint

Update
  docs/internal/README.md
  docs/internal/architecture/effect-ts.md
  docs/internal/architecture/frontend.md
  src/app/api/reports/route.ts
  src/lib/effect/services/ai-structured.ts
  src/lib/validation/index.ts
  src/lib/validation/schemas.ts
  src/lib/validations/schemas.ts
Due: format, lint

Remove zod and migrate to Effect Schema (#121)
  docs/internal/README.md
  docs/internal/architecture/effect-ts.md
  docs/internal/architecture/frontend.md
  package.json
  pnpm-lock.yaml
  src/app/api/reports/route.ts
  src/lib/effect/services/ai-structured.ts
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/lib/validation/index.ts
  src/lib/validation/schemas.ts
  src/lib/validations/index.ts
  src/lib/validations/schemas.ts
Due: format, lint

Integrate with Workflow development platform (#126)
  docs/internal/architecture/video-processing.md
  docs/internal/architecture/workflows.md
  src/app/api/integrations/import/route.ts
  src/app/api/videos/upload/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/workflows/import-meeting.ts
  src/workflows/index.ts
  src/workflows/scheduled-cleanup.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
  src/workflows/video-processing.ts
Due: format, lint

Combine Stripe webhooks into single endpoint
  scripts/setup-stripe.ts
  src/app/api/webhooks/stripe/route.ts
Due: format, lint

Fix slow pre-commit hook by linting only staged files
  lefthook.yml
Due: none

Debug slow lefthook precommit hooks (#136)
  lefthook.yml
Due: none

Combine Stripe webhooks into single receiver (#135)
  scripts/setup-stripe.ts
  src/app/api/webhooks/stripe/route.ts
Due: format, lint

Add fixes
  src/app/(main)/[organization]/search/page.tsx
  src/app/(main)/[organization]/settings/billing/page.tsx
  src/app/api/reports/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/effect/services/stripe.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
  src/workflows/video-processing.ts
Due: format, lint

Add fixes (#137)
  src/app/(main)/[organization]/search/page.tsx
  src/app/(main)/[organization]/settings/billing/page.tsx
  src/app/api/reports/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/effect/services/stripe.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
  src/workflows/video-processing.ts
Due: format, lint

Fix workflow
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/workflows/import-meeting.ts
  src/workflows/video-processing.ts
Due: format, lint

Fix workflow (#138)
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/workflows/import-meeting.ts
  src/workflows/video-processing.ts
Due: format, lint

Fix TypeScript errors in pnpm tsc
  src/app/api/billing/checkout/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/auth/forgot-password-form.tsx
  src/components/auth/reset-password-form.tsx
  src/lib/api/videos.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/__tests__/cascade-delete.test.ts
  src/lib/effect/services/billing-middleware.ts
  src/lib/effect/services/billing.ts
  src/lib/effect/services/comment-repository.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.test.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/watch-later.ts
  src/lib/validations/schemas.ts
  src/test/mocks.ts
Due: format, lint

Fix pnpm TypeScript compilation issue (#139)
  src/app/api/billing/checkout/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/auth/forgot-password-form.tsx
  src/components/auth/reset-password-form.tsx
  src/lib/api/videos.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/__tests__/cascade-delete.test.ts
  src/lib/effect/services/billing-middleware.ts
  src/lib/effect/services/billing.ts
  src/lib/effect/services/comment-repository.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/video-repository.test.ts
  src/lib/effect/services/video-repository.ts
  src/lib/effect/services/watch-later.ts
  src/lib/validations/schemas.ts
  src/test/mocks.ts
Due: format, lint

Add tsc type checking to lefthook pre-commit hook
  lefthook.yml
Due: none

Add TypeScript check to pre-commit hook (#140)
  lefthook.yml
Due: none

Optimize biome lint performance
  biome.json
Due: format

Migrate AI analysis to Vercel AI SDK with gateway
  src/lib/effect/services/transcription.ts
  src/workflows/video-processing.ts
Due: format, lint

Add Pro vs Enterprise pricing differentiation
  docs/internal/pricing.md
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/components/marketing-header.tsx
Due: format, lint

Refactor documentation for better navigation and accuracy
  docs/README.md
  docs/internal/README.md
  docs/internal/architecture/README.md
  docs/internal/architecture/frontend.md
  docs/internal/architecture/summary.md
  docs/internal/reference/README.md
  docs/internal/reference/testing.md
  docs/public/README.md
  docs/public/guides/README.md
  src/app/docs/internal/layout.tsx
  src/lib/docs/source.ts
Due: format, lint

Switch transcription from OpenAI SDK to Replicate
  src/lib/effect/services/transcription.ts
  src/lib/env/server.ts
  src/workflows/video-processing.ts
Due: format, lint

Fix lint issues and improve code quality
  src/app/(main)/[organization]/admin/moderation/page.tsx
  src/app/(main)/[organization]/error.tsx
  src/app/(main)/[organization]/settings/integrations/page.tsx
  src/app/api/channels/route.ts
  src/app/api/organizations/route.ts
  src/app/api/users/me/export/route.ts
  src/app/api/users/me/route.ts
  src/components/command-bar.tsx
  src/workflows/stripe-webhooks.ts
  src/workflows/trial-reminders.ts
  src/workflows/video-processing.ts
Due: format, lint

Adjust pricing structure per feedback
  docs/internal/pricing.md
  scripts/setup-stripe.ts
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/lib/effect/services/billing-repository.ts
Due: format, lint

Update and refactor documentation site (#143)
  docs/README.md
  docs/internal/README.md
  docs/internal/architecture/README.md
  docs/internal/architecture/frontend.md
  docs/internal/architecture/summary.md
  docs/internal/reference/README.md
  docs/internal/reference/testing.md
  docs/public/README.md
  docs/public/guides/README.md
  src/app/docs/internal/layout.tsx
  src/lib/docs/source.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,css,md}
  lint: any of: *.{js,jsx,ts,tsx}
