Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    tsc:
      glob: "*.{ts,tsx}"
      run: pnpm tsc
    openapi:
      glob: "src/app/api/**/route.ts"
      run: pnpm openapi:update
      stage_fixed: true

Fix Invalid URL errors by adding safe URL parsing
  src/lib/auth-client.ts
  src/lib/effect/services/request-context.ts
  src/lib/effect/services/zoom.ts
  src/lib/error-logging.ts
  src/proxy.ts
Due: lint, tsc

Fix Vercel Analytics blocked by CSP headers
  next.config.ts
  src/app/layout.tsx
  src/components/legal/analytics-consent-wrapper.tsx
Due: lint, tsc

Refactor workflows
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/api/cron/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/workflows/highlight-reel-render.ts
  src/workflows/import-meeting.ts
  src/workflows/scheduled-cleanup.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/subscription-enforcement.ts
  src/workflows/trial-reminders.ts
  src/workflows/uptime-monitor.ts
  src/workflows/video-processing.ts
  vercel.ts
Due: lint, tsc, openapi

Fix Vercel analytics not showing data (#220)
  next.config.ts
Due: lint, tsc

Update docs
  src/app/api/cron/route.ts
Due: lint, tsc, openapi

Switch from next dev to vercel dev for local development
  AI.md
  package.json
Due: none

Fix workflows (#222)
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/api/cron/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/workflows/highlight-reel-render.ts
  src/workflows/import-meeting.ts
  src/workflows/scheduled-cleanup.ts
  src/workflows/stripe-webhooks.ts
  src/workflows/subscription-enforcement.ts
  src/workflows/trial-reminders.ts
  src/workflows/uptime-monitor.ts
  src/workflows/video-processing.ts
  vercel.ts
Due: lint, tsc, openapi

Add app url to better auth
  src/lib/auth.ts
Due: lint, tsc

Add vercel CLI as dev dependency
  package.json
  pnpm-lock.yaml
Due: none

Fix marketing header mobile menu not closing on logout
  src/components/marketing-header.tsx
Due: lint, tsc

Add app url to better auth (#224)
  src/lib/auth.ts
Due: lint, tsc

Fix headerbar display for logged out users (#225)
  src/components/marketing-header.tsx
Due: lint, tsc

Switch to Vercel dev for local development (#223)
  AI.md
  package.json
  pnpm-lock.yaml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Update auth pages
  src/app/(main)/[organization]/settings/linked-accounts/page.tsx
  src/components/auth/login-form.tsx
  src/components/auth/password-requirements.tsx
  src/components/auth/register-form.tsx
  src/components/marketing-header.tsx
  src/components/settings-sidebar.tsx
Due: lint, tsc

Update auth pages (#226)
  package.json
  pnpm-lock.yaml
  src/app/(main)/[organization]/settings/linked-accounts/page.tsx
  src/components/auth/login-form.tsx
  src/components/auth/password-requirements.tsx
  src/components/auth/register-form.tsx
  src/components/marketing-header.tsx
  src/components/settings-sidebar.tsx
Due: lint, tsc

Fix error server only env
  package.json
  pnpm-lock.yaml
  src/app/api/activity/route.ts
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/lib/error-logging.ts
Due: lint, tsc, openapi

Fix error server only env (#227)
  package.json
  pnpm-lock.yaml
  src/app/api/activity/route.ts
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/lib/error-logging.ts
Due: lint, tsc, openapi

Add another CSP exception
  next.config.ts
Due: lint, tsc

Add missing mock
  src/test/setup.tsx
Due: lint, tsc

Add another CSP exception (#228)
  next.config.ts
  src/test/setup.tsx
Due: lint, tsc

Update marketing website pricing and feature highlights
  src/app/page.tsx
  src/app/pricing/page.tsx
Due: lint, tsc

Apply suggestions from code review
  src/app/pricing/page.tsx
Due: lint, tsc

Update marketing website pricing and features (#229)
  src/app/page.tsx
  src/app/pricing/page.tsx
Due: lint, tsc

Misc fixes
  docs/internal/architecture/authentication.md
  src/app/(main)/[organization]/channels/[id]/page.tsx
  src/app/(main)/[organization]/my-videos/page.tsx
  src/app/(main)/[organization]/page.tsx
  src/app/(main)/[organization]/shared/page.tsx
  src/app/(main)/[organization]/upload/page.tsx
  src/app/onboarding/page.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/ui/command.tsx
  src/lib/auth.ts
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/proxy.ts
Due: lint, tsc

Add private beta access request form with Slack notifications
  src/app/(auth)/register/page.tsx
  src/app/api/beta-access/route.ts
  src/components/auth/private-beta-form.tsx
  src/lib/effect/services/slack-monitoring.ts
Due: lint, tsc, openapi

Misc fixes (#230)
  docs/internal/architecture/authentication.md
  src/app/(main)/[organization]/channels/[id]/page.tsx
  src/app/(main)/[organization]/my-videos/page.tsx
  src/app/(main)/[organization]/page.tsx
  src/app/(main)/[organization]/shared/page.tsx
  src/app/(main)/[organization]/upload/page.tsx
  src/app/onboarding/page.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/ui/command.tsx
  src/lib/auth.ts
  src/lib/env/client.ts
  src/lib/env/server.ts
  src/proxy.ts
Due: lint, tsc

Simplify onboarding and fix settings navigation
  src/app/(auth)/onboarding/page.tsx
  src/app/(main)/[organization]/settings/page.tsx
  src/components/dashboard/sidebar-nav.tsx
  src/components/top-nav.tsx
  src/components/video-upload.tsx
Due: lint, tsc

Add private beta access request form (#231)
  src/app/(auth)/register/page.tsx
  src/app/api/beta-access/route.ts
  src/components/auth/private-beta-form.tsx
  src/lib/effect/services/slack-monitoring.ts
Due: lint, tsc, openapi

Delete src/app/(main)/[organization]/settings/page.tsx
  src/app/(main)/[organization]/settings/page.tsx
Due: lint, tsc

Fix onboarding flow and settings navigation (#232)
  src/app/onboarding/page.tsx
  src/components/dashboard/sidebar-nav.tsx
  src/components/top-nav.tsx
  src/components/video-upload.tsx
Due: lint, tsc

Fixes
  docs/public/guides/getting-started.md
  src/app/(main)/[organization]/layout.tsx
  src/app/apple-icon.tsx
  src/app/home/page.tsx
  src/app/icon.tsx
  src/app/page.tsx
  src/components/auth/verify-email-form.tsx
  src/components/dashboard/activity-feed.tsx
  src/components/dashboard/sidebar-nav.tsx
  src/components/marketing-header.tsx
  src/components/marketing/landing-page.tsx
  src/components/organization-switcher.tsx
  src/components/top-nav.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
Due: lint, tsc

lint:fix
  src/app/apple-icon.tsx
  src/app/icon.tsx
  src/components/dashboard/activity-feed.tsx
  src/components/marketing-header.tsx
  src/components/organization-switcher.tsx
  src/components/top-nav.tsx
Due: lint, tsc

Fix beta access form returning Unauthorized error
  src/proxy.ts
Due: lint, tsc

First feedback wave (#233)
  docs/public/guides/getting-started.md
  src/app/(main)/[organization]/layout.tsx
  src/app/apple-icon.tsx
  src/app/home/page.tsx
  src/app/icon.tsx
  src/app/page.tsx
  src/components/auth/verify-email-form.tsx
  src/components/dashboard/activity-feed.tsx
  src/components/dashboard/sidebar-nav.tsx
  src/components/marketing-header.tsx
  src/components/marketing/landing-page.tsx
  src/components/organization-switcher.tsx
  src/components/top-nav.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
Due: lint, tsc

Fix unauthorized error in request access form (#234)
  src/proxy.ts
Due: lint, tsc

Fix build error: wrap root page data fetching in Suspense
  src/app/page.tsx
Due: lint, tsc

Build and clone nuclom repository (#235)
  src/app/page.tsx
Due: lint, tsc

Add styled auth error page
  src/app/(auth)/auth-error/page.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/lib/auth.ts
Due: lint, tsc
