Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

tsc:
  run: pnpm tsc

openapi:
  run: pnpm openapi:update
  stage_fixed: true

Add video rename/edit functionality
  src/app/(main)/[organization]/videos/[id]/_components/video-content-client.tsx
  src/components/video/index.ts
  src/components/video/video-edit-dialog.tsx
Due: lint, tsc

Empty state while processing
  src/app/(main)/[organization]/videos/[id]/_components/video-content-client.tsx
Due: lint, tsc

Add video rename/edit functionality (#289)
  src/app/(main)/[organization]/videos/[id]/_components/video-content-client.tsx
  src/components/video/index.ts
  src/components/video/video-edit-dialog.tsx
Due: lint, tsc

Empty state while processing (#288)
  src/app/(main)/[organization]/videos/[id]/_components/video-content-client.tsx
Due: lint, tsc

Establish and enforce consistent design system (#283)
  docs/internal/reference/styling.md
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
Due: lint, tsc

Add invitation list to organization members page (#284)
  src/app/(org-settings)/[organization]/settings/members/page.tsx
  src/app/api/organizations/[id]/invitations/route.ts
Due: lint, tsc, openapi

Fix database connection leaks (#287)
  src/lib/db/index.ts
  src/lib/effect/services/database.ts
Due: lint, tsc

Remove focus rings from all components (#282)
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/globals.css
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toast.tsx
  src/components/ui/toggle.tsx
Due: lint, tsc

Update
  docs/docs.json
  docs/mint.json
Due: none

Set up PostHog analytics and feature flags (#285)
  .env.example
  docs/internal/architecture/analytics.md
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/lib/auth.ts
  src/lib/db/index.ts
  src/lib/env/client.ts
  src/lib/posthog/client.tsx
  src/lib/posthog/feature-flags.tsx
  src/lib/posthog/index.ts
  src/lib/posthog/server.ts
Due: lint, tsc

Update OpenAPI docs
  docs/docs.json
Due: none

fix
  src/proxy.ts
  vercel.ts
Due: lint, tsc

Update OpenAPI docs (#290)
  docs/docs.json
  src/proxy.ts
  vercel.ts
Due: lint, tsc

Use relative path
  docs/docs.json
Due: none

Simplify and document middleware matcher regex
  src/proxy.ts
Due: lint, tsc

Refactor middleware matcher to use arrays for better readability
  src/proxy.ts
Due: lint, tsc

Fix spec
  public/openapi.json
  public/openapi.yaml
  scripts/generate-openapi.ts
Due: lint, tsc

Use relative path (#291)
  docs/docs.json
  public/openapi.json
  public/openapi.yaml
  scripts/generate-openapi.ts
Due: lint, tsc

Update
  docs/docs.json
  src/components/top-nav.tsx
Due: lint, tsc

Simplify mintlify config (#293)
  docs/docs.json
  src/components/top-nav.tsx
Due: lint, tsc

Update
  content/docs.json
  content/docs/api-reference/ai.mdx
  content/docs/api-reference/authentication.mdx
  content/docs/api-reference/changelog.mdx
  content/docs/api-reference/embed.mdx
  content/docs/api-reference/errors.mdx
  content/docs/api-reference/insights.mdx
  content/docs/api-reference/introduction.mdx
  content/docs/api-reference/knowledge.mdx
  content/docs/api-reference/notifications.mdx
  content/docs/api-reference/organizations.mdx
  content/docs/api-reference/videos.mdx
Due: none

URL
  content/docs.json
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Update CSP for mintlify
  next.config.ts
Due: lint, tsc

Update dependencies (#296)
  package.json
  pnpm-lock.yaml
Due: none

Update CSP for mintlify (#297)
  next.config.ts
Due: lint, tsc

Add more CSP exceptions
  next.config.ts
Due: lint, tsc

refactor: standardize API routes to use Effect-TS helpers
  src/app/(saas)/(api)/api/knowledge/context/route.ts
  src/app/(saas)/(api)/api/knowledge/decisions/route.ts
  src/app/(saas)/(api)/api/knowledge/graph/route.ts
  src/app/(saas)/(api)/api/knowledge/timeline/route.ts
  src/app/(saas)/(api)/api/organizations/[id]/analytics/route.ts
  src/app/(saas)/(api)/api/organizations/[id]/settings/route.ts
  src/app/(saas)/(api)/api/share/[id]/route.ts
  src/app/(saas)/(api)/api/share/[id]/verify/route.ts
  src/app/(saas)/(api)/api/videos/[id]/progress/route.ts
  src/app/(saas)/(api)/api/videos/[id]/route.ts
  src/app/(saas)/(api)/api/videos/[id]/views/route.ts
  src/lib/effect/server.ts
Due: lint, tsc

refactor: continue API route standardization
  src/app/(saas)/(api)/api/integrations/route.ts
  src/app/(saas)/(api)/api/videos/[id]/decisions/route.ts
  src/app/(saas)/(api)/api/videos/[id]/stream/route.ts
Due: lint, tsc

Improve upload page and integrations UX
  src/app/(saas)/(org)/org/[organization]/upload/page.tsx
  src/components/bulk-video-upload.tsx
  src/components/upload-hub.tsx
  src/components/url-video-upload.tsx
Due: lint, tsc

Improve onboarding integrations and settings pages
  src/app/(saas)/(org-settings)/org/[organization]/settings/integrations/page.tsx
  src/components/integrations/notification-settings.tsx
  src/components/onboarding/step-integrations.tsx
Due: lint, tsc

Refactor codebase and improve architecture (#299)
  src/app/(saas)/(api)/api/integrations/route.ts
  src/app/(saas)/(api)/api/knowledge/context/route.ts
  src/app/(saas)/(api)/api/knowledge/decisions/route.ts
  src/app/(saas)/(api)/api/knowledge/graph/route.ts
  src/app/(saas)/(api)/api/knowledge/timeline/route.ts
  src/app/(saas)/(api)/api/organizations/[id]/analytics/route.ts
  src/app/(saas)/(api)/api/organizations/[id]/settings/route.ts
  src/app/(saas)/(api)/api/share/[id]/route.ts
  src/app/(saas)/(api)/api/share/[id]/verify/route.ts
  src/app/(saas)/(api)/api/videos/[id]/decisions/route.ts
  src/app/(saas)/(api)/api/videos/[id]/progress/route.ts
  src/app/(saas)/(api)/api/videos/[id]/route.ts
  src/app/(saas)/(api)/api/videos/[id]/stream/route.ts
  src/app/(saas)/(api)/api/videos/[id]/views/route.ts
  src/lib/effect/server.ts
Due: lint, tsc

Add more CSP exceptions (#298)
  next.config.ts
Due: lint, tsc

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  tsc: any of: *.{ts,tsx}
  openapi: any of: src/app/api/**/route.ts
