Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm biome check --write {staged_files}
      stage_fixed: true
    tsc:
      glob: "*.{ts,tsx}"
      run: pnpm tsc
    openapi:
      glob: "src/app/api/**/route.ts"
      run: pnpm openapi:update
      stage_fixed: true

Add automatic speaker diarization to transcripts (#180)
  src/app/api/analytics/speakers/[speakerId]/route.ts
  src/app/api/analytics/speakers/route.ts
  src/app/api/videos/[id]/analytics/talk-time/route.ts
  src/app/api/videos/[id]/speakers/[speakerId]/route.ts
  src/app/api/videos/[id]/speakers/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/components/video/index.ts
  src/components/video/speaker-legend.tsx
  src/components/video/speaker-timeline.tsx
  src/components/video/talk-time-chart.tsx
  src/lib/db/schema.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/speaker-diarization.ts
  src/lib/effect/services/speaker-repository.ts
  src/lib/env/server.ts
  src/workflows/import-meeting.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Add auto-extract video clips feature
  docs/internal/architecture/database.md
  docs/internal/architecture/video-processing.md
  src/app/api/clips/[id]/route.ts
  src/app/api/highlight-reels/[id]/render/route.ts
  src/app/api/highlight-reels/[id]/route.ts
  src/app/api/highlight-reels/route.ts
  src/app/api/quote-cards/[id]/route.ts
  src/app/api/videos/[id]/clips/route.ts
  src/app/api/videos/[id]/moments/route.ts
  src/app/api/videos/[id]/quote-cards/route.ts
  src/components/clips/clips-list.tsx
  src/components/clips/create-clip-dialog.tsx
  src/components/clips/index.ts
  src/components/clips/moments-panel.tsx
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/clip-repository.ts
  src/lib/effect/services/index.ts
  src/lib/validation/schemas.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

feat: Complete Knowledge Graph implementation with UI integration
  docs/internal/architecture/knowledge-graph.md
  docs/internal/architecture/summary.md
  docs/public/api/knowledge.md
  src/app/(main)/[organization]/videos/[id]/page.tsx
  src/app/api/knowledge/decisions/[id]/route.ts
  src/app/api/knowledge/decisions/route.ts
  src/components/knowledge/decision-timeline.tsx
  src/components/knowledge/index.ts
  src/components/knowledge/knowledge-explorer.tsx
  src/components/knowledge/video-decisions-sidebar.tsx
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/knowledge-graph-repository.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Complete GitHub context integration with API endpoints
  src/app/api/code-context/route.ts
  src/app/api/integrations/github/authorize/route.ts
  src/app/api/integrations/github/callback/route.ts
  src/app/api/integrations/github/repos/route.ts
  src/app/api/repos/[owner]/[repo]/context/route.ts
  src/app/api/videos/[id]/code-links/route.ts
  src/app/api/videos/[id]/detect-code-refs/route.ts
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/services/code-links-repository.ts
  src/lib/effect/services/code-reference-detector.ts
  src/lib/effect/services/github.ts
  src/lib/effect/services/index.ts
Due: lint, tsc, openapi

Use connection() instead of force-dynamic in GitHub OAuth routes
  src/app/api/integrations/github/authorize/route.ts
  src/app/api/integrations/github/callback/route.ts
Due: lint, tsc, openapi

Add context integration for engineering decisions (#181)
  src/app/api/code-context/route.ts
  src/app/api/integrations/github/authorize/route.ts
  src/app/api/integrations/github/callback/route.ts
  src/app/api/repos/[owner]/[repo]/context/route.ts
  src/app/api/videos/[id]/code-links/route.ts
  src/app/api/videos/[id]/detect-code-refs/route.ts
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/code-links-repository.ts
  src/lib/effect/services/code-reference-detector.ts
  src/lib/effect/services/github.ts
  src/lib/effect/services/index.ts
Due: lint, tsc, openapi

Fix build errors by using connection() for dynamic routes
  AI.md
  docs/internal/architecture/backend.md
  src/app/api/code-context/route.ts
  src/app/api/embed/[id]/route.ts
  src/app/api/embed/[id]/view/route.ts
  src/app/api/knowledge/context/route.ts
  src/app/api/knowledge/graph/route.ts
  src/app/api/knowledge/timeline/route.ts
Due: lint, tsc, openapi

Fix merge conflicts: remove duplicate Decision Registry schema
  src/lib/db/schema.ts
  src/lib/effect/runtime.ts
Due: lint, tsc

Fix internal server error in knowledge context API (#186)
  AI.md
  docs/internal/architecture/backend.md
  src/app/api/code-context/route.ts
  src/app/api/embed/[id]/route.ts
  src/app/api/embed/[id]/view/route.ts
  src/app/api/knowledge/context/route.ts
  src/app/api/knowledge/graph/route.ts
  src/app/api/knowledge/timeline/route.ts
Due: lint, tsc, openapi

Auto-detect and extract key video moments (#184)
  docs/internal/architecture/database.md
  docs/internal/architecture/video-processing.md
  src/app/api/clips/[id]/route.ts
  src/app/api/highlight-reels/[id]/render/route.ts
  src/app/api/highlight-reels/[id]/route.ts
  src/app/api/highlight-reels/route.ts
  src/app/api/quote-cards/[id]/route.ts
  src/app/api/videos/[id]/clips/route.ts
  src/app/api/videos/[id]/moments/route.ts
  src/app/api/videos/[id]/quote-cards/route.ts
  src/components/clips/clips-list.tsx
  src/components/clips/create-clip-dialog.tsx
  src/components/clips/index.ts
  src/components/clips/moments-panel.tsx
  src/lib/db/schema.ts
  src/lib/effect/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/clip-repository.ts
  src/lib/effect/services/index.ts
  src/lib/validation/schemas.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Fix multiple bugs across API routes and React hooks
  src/app/api/reports/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/components/video/video-player.tsx
  src/hooks/use-api.ts
Due: lint, tsc, openapi

Update marketing website with comprehensive platform features
  src/app/features/page.tsx
  src/app/page.tsx
  src/components/marketing-footer.tsx
  src/components/marketing-header.tsx
Due: lint, tsc

Find and fix code bugs (#187)
  src/app/api/reports/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/components/video/video-player.tsx
  src/hooks/use-api.ts
Due: lint, tsc, openapi

Update marketing website with platform features (#188)
  src/app/features/page.tsx
  src/app/page.tsx
  src/components/marketing-footer.tsx
  src/components/marketing-header.tsx
Due: lint, tsc

Rename pricing plans from Pro/Enterprise to Scale/Pro
  docs/internal/pricing.md
  scripts/setup-stripe.ts
  src/app/pricing/page.tsx
  src/components/billing/plan-selector.tsx
  src/components/billing/subscription-manager.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema.ts
  src/lib/env/server.ts
Due: lint, tsc

Remove invented metrics and fake case studies from marketing content
  docs/public/enterprise/README.md
  src/app/page.tsx
  src/app/pricing/page.tsx
Due: lint, tsc

Remove guest access and update Pro to unlimited members
  docs/internal/pricing.md
  src/app/pricing/page.tsx
  src/lib/auth.ts
Due: lint, tsc

Remove invented metrics and testimonials (#190)
  docs/public/enterprise/README.md
  src/app/page.tsx
  src/app/pricing/page.tsx
Due: lint, tsc

Adjust plan limits to more conservative values
  docs/internal/pricing.md
  src/app/pricing/page.tsx
  src/lib/auth.ts
Due: lint, tsc

Refactor codebase: DRY improvements and code organization
  src/app/api/integrations/github/callback/route.ts
  src/app/api/integrations/google/callback/route.ts
  src/app/api/integrations/slack/callback/route.ts
  src/app/api/integrations/teams/callback/route.ts
  src/app/api/integrations/zoom/callback/route.ts
  src/components/video/video-player.tsx
  src/components/video/video-player/components/keyboard-help-modal.tsx
  src/components/video/video-player/components/video-controls.tsx
  src/components/video/video-player/components/video-overlays.tsx
  src/components/video/video-player/components/video-progress-bar.tsx
  src/components/video/video-player/hooks/use-captions.ts
  src/components/video/video-player/hooks/use-keyboard-shortcuts.ts
  src/components/video/video-player/hooks/use-video-controls.ts
  src/components/video/video-player/hooks/use-view-tracking.ts
  src/components/video/video-player/index.ts
  src/components/video/video-player/types.ts
  src/components/video/video-player/utils.ts
  src/components/video/video-player/video-player.tsx
  src/lib/integrations/index.ts
  src/lib/integrations/layer-builders.ts
  src/lib/integrations/oauth-handler.ts
  src/lib/video-processor.ts
Due: lint, tsc, openapi

Rename pricing plans and update costs (#189)
  docs/internal/pricing.md
  scripts/setup-stripe.ts
  src/app/pricing/page.tsx
  src/components/billing/plan-selector.tsx
  src/components/billing/subscription-manager.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema.ts
  src/lib/env/server.ts
Due: lint, tsc

Remove unused Clock import
  src/app/page.tsx
Due: lint, tsc

Update OpenAPI specs
  public/openapi.json
  public/openapi.yaml
Due: none

Fix openapi hook to auto-stage generated files
  lefthook.yml
Due: none

Refactor codebase and improve code quality (#191)
  lefthook.yml
  public/openapi.json
  public/openapi.yaml
  src/app/api/integrations/github/callback/route.ts
  src/app/api/integrations/google/callback/route.ts
  src/app/api/integrations/slack/callback/route.ts
  src/app/api/integrations/teams/callback/route.ts
  src/app/api/integrations/zoom/callback/route.ts
  src/app/api/reports/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/app/page.tsx
  src/components/video/video-player.tsx
  src/components/video/video-player/components/keyboard-help-modal.tsx
  src/components/video/video-player/components/video-controls.tsx
  src/components/video/video-player/components/video-overlays.tsx
  src/components/video/video-player/components/video-progress-bar.tsx
  src/components/video/video-player/hooks/use-captions.ts
  src/components/video/video-player/hooks/use-keyboard-shortcuts.ts
  src/components/video/video-player/hooks/use-video-controls.ts
  src/components/video/video-player/hooks/use-view-tracking.ts
  src/components/video/video-player/index.ts
  src/components/video/video-player/types.ts
  src/components/video/video-player/utils.ts
  src/components/video/video-player/video-player.tsx
  src/lib/integrations/index.ts
  src/lib/integrations/layer-builders.ts
  src/lib/integrations/oauth-handler.ts
  src/lib/video-processor.ts
Due: lint, tsc, openapi

Document PROD and Staging deployment strategy
  docs/internal/architecture/README.md
  docs/internal/architecture/deployment-environments.md
  docs/internal/architecture/deployment.md
Due: none

feat: implement Phase 3 enterprise features
  docs/internal/architecture/authentication.md
  docs/internal/reference/testing.md
  messages/en.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/(main)/[organization]/settings/audit-logs/page.tsx
  src/app/(main)/[organization]/settings/roles/page.tsx
  src/app/(main)/[organization]/settings/sso/page.tsx
  src/app/api/reports/route.ts
  src/app/globals.css
  src/components/locale-switcher.tsx
  src/components/mobile/touch-targets.tsx
  src/components/settings-sidebar.tsx
  src/hooks/use-mobile.ts
  src/lib/db/index.ts
  src/lib/env/server.ts
  src/lib/i18n/config.ts
  src/lib/i18n/index.ts
  src/lib/i18n/request.ts
  tests/load/README.md
  tests/load/auth-flow.js
  tests/load/comments.js
  tests/load/config.js
  tests/load/search.js
  tests/load/video-page.js
Due: lint, tsc, openapi

Implement Phase 3 enterprise features with auth (#193)
  docs/internal/architecture/authentication.md
  docs/internal/reference/testing.md
  messages/en.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/(main)/[organization]/settings/audit-logs/page.tsx
  src/app/(main)/[organization]/settings/roles/page.tsx
  src/app/(main)/[organization]/settings/sso/page.tsx
  src/app/globals.css
  src/components/locale-switcher.tsx
  src/components/mobile/touch-targets.tsx
  src/components/settings-sidebar.tsx
  src/hooks/use-mobile.ts
  src/lib/db/index.ts
  src/lib/env/server.ts
  src/lib/i18n/config.ts
  src/lib/i18n/index.ts
  src/lib/i18n/request.ts
  tests/load/README.md
  tests/load/auth-flow.js
  tests/load/comments.js
  tests/load/config.js
  tests/load/search.js
  tests/load/video-page.js
Due: lint, tsc

Add Slack event monitoring for platform events
  docs/internal/architecture/integrations.md
  src/app/api/organizations/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/lib/api-errors.ts
  src/lib/auth.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/slack-monitoring.ts
  src/lib/env/server.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Fix: Remove node:process import for workflow compatibility
  src/lib/effect/services/slack-monitoring.ts
Due: lint, tsc

Add comprehensive billing safeguards and enforcement
  src/components/billing/subscription-card.tsx
  src/components/billing/subscription-manager.tsx
  src/lib/effect/services/billing-middleware.ts
  src/lib/effect/services/billing-repository.ts
  src/workflows/index.ts
  src/workflows/subscription-enforcement.ts
Due: lint, tsc

Review and improve billing system safeguards (#195)
  src/components/billing/subscription-card.tsx
  src/components/billing/subscription-manager.tsx
  src/lib/effect/services/billing-middleware.ts
  src/lib/effect/services/billing-repository.ts
  src/workflows/index.ts
  src/workflows/subscription-enforcement.ts
Due: lint, tsc

Fixes
  package.json
  src/app/api/videos/[id]/detect-code-refs/route.ts
  src/components/knowledge/knowledge-explorer.tsx
  src/components/locale-switcher.tsx
  src/components/video/speaker-legend.tsx
  src/components/video/speaker-timeline.tsx
  src/components/video/talk-time-chart.tsx
  src/components/video/video-player/video-player.tsx
  src/lib/effect/services/slack-monitoring.ts
  src/lib/i18n/actions.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Add Vercel Analytics for web traffic tracking
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: lint, tsc

Add Slack monitoring for platform events (#194)
  docs/internal/architecture/integrations.md
  package.json
  src/app/api/organizations/route.ts
  src/app/api/videos/[id]/detect-code-refs/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/components/knowledge/knowledge-explorer.tsx
  src/components/locale-switcher.tsx
  src/components/video/speaker-legend.tsx
  src/components/video/speaker-timeline.tsx
  src/components/video/talk-time-chart.tsx
  src/components/video/video-player/video-player.tsx
  src/lib/api-errors.ts
  src/lib/auth.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/slack-monitoring.ts
  src/lib/env/server.ts
  src/lib/i18n/actions.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Add Vercel Analytics for web traffic tracking (#196)
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: lint, tsc

Add DISABLE_SIGNUPS env var to control user registration
  docs/internal/reference/environment-config.md
  src/lib/auth.ts
  src/lib/env/server.ts
Due: lint, tsc

Updates
  docs/internal/architecture/deployment-environments.md
Due: none

Add DISABLE_SIGNUPS env var to control user registration (#197)
  docs/internal/reference/environment-config.md
  src/lib/auth.ts
  src/lib/env/server.ts
Due: lint, tsc
