Repository nuclom/nuclom: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc, openapi

lint:
  run: pnpm biome check --write {staged_files}
  stage_fixed: true

tsc:
  run: pnpm tsc

openapi:
  run: pnpm openapi:update
  stage_fixed: true

Implement vocabulary-aware transcription and speaker diarization
  src/app/(org-settings)/[organization]/settings/vocabulary/page.tsx
  src/app/api/organizations/[id]/vocabulary/route.ts
  src/components/video/speaker-assignment-modal.tsx
  src/components/video/transcript-display.tsx
  src/lib/effect/runtime.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/speaker-diarization.ts
  src/lib/effect/services/transcription.ts
  src/lib/effect/services/vocabulary-repository.ts
  src/workflows/import-meeting.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Update docs and marketing to reflect removed features
  docs/internal/architecture/database.md
  docs/public/api/CHANGELOG.md
  docs/public/api/README.md
  docs/public/api/comments.md
  docs/public/api/videos.md
  docs/public/guides/collaboration.md
  docs/public/guides/getting-started.md
  src/app/features/page.tsx
  src/components/marketing/landing-page.tsx
Due: lint, tsc

Update docs and fix inconsistencies (#251)
  docs/internal/architecture/database.md
  docs/public/api/CHANGELOG.md
  docs/public/api/README.md
  docs/public/api/comments.md
  docs/public/api/videos.md
  docs/public/guides/collaboration.md
  docs/public/guides/getting-started.md
  src/app/features/page.tsx
  src/components/marketing/landing-page.tsx
Due: lint, tsc

Remove free plan and enforce 14-day Scale trial for new users
  src/app/(main)/[organization]/layout.tsx
  src/app/api/organizations/route.test.ts
  src/app/api/organizations/route.ts
  src/components/billing/subscription-card.tsx
  src/components/billing/trial-banner-wrapper.tsx
  src/components/billing/trial-banner.tsx
  src/lib/effect/index.ts
  src/lib/effect/services/billing-middleware.ts
  src/lib/effect/services/billing-repository.ts
  src/lib/effect/services/billing.ts
Due: lint, tsc, openapi

Remove free plan and enforce 14-day Scale trial for new users (#252)
  src/app/(main)/[organization]/layout.tsx
  src/app/api/organizations/route.test.ts
  src/app/api/organizations/route.ts
  src/components/billing/subscription-card.tsx
  src/components/billing/trial-banner-wrapper.tsx
  src/components/billing/trial-banner.tsx
  src/lib/effect/index.ts
  src/lib/effect/services/billing-middleware.ts
  src/lib/effect/services/billing-repository.ts
  src/lib/effect/services/billing.ts
Due: lint, tsc, openapi

Add organization vocabulary dictionary database schema (#250)
  drizzle/0004_add-vocabulary-schema.sql
  drizzle/meta/0004_snapshot.json
  drizzle/meta/_journal.json
  src/app/(org-settings)/[organization]/settings/vocabulary/page.tsx
  src/app/api/organizations/[id]/vocabulary/route.ts
  src/components/video/speaker-assignment-modal.tsx
  src/components/video/transcript-display.tsx
  src/lib/db/schema/enums.ts
  src/lib/db/schema/index.ts
  src/lib/db/schema/vocabulary.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/speaker-diarization.ts
  src/lib/effect/services/transcription.ts
  src/lib/effect/services/vocabulary-repository.ts
  src/workflows/import-meeting.ts
  src/workflows/video-processing.ts
Due: lint, tsc, openapi

Improve slack alerts
  src/lib/api-errors.ts
  src/lib/db/schema/auth-relations.ts
  src/lib/effect/services/slack-monitoring.ts
  src/workflows/video-processing.ts
Due: lint, tsc

Improve slack alerts (#253)
  src/lib/api-errors.ts
  src/lib/db/schema/auth-relations.ts
  src/lib/effect/services/slack-monitoring.ts
  src/workflows/video-processing.ts
Due: lint, tsc

Re-enable E2E tests in CI
  .github/workflows/e2e.yml
Due: none

Fix video upload bug and add multi-source upload support
  src/app/(main)/[organization]/upload/page.tsx
  src/app/api/videos/upload/url/route.ts
  src/components/upload-hub.tsx
  src/components/url-video-upload.tsx
  src/components/video-upload.tsx
Due: lint, tsc, openapi

Fix skeleton loading states to match actual page layouts
  src/app/(main)/[organization]/loading.tsx
  src/app/(main)/[organization]/my-videos/loading.tsx
  src/app/(main)/[organization]/search/loading.tsx
  src/app/(main)/[organization]/series/loading.tsx
  src/app/(main)/[organization]/videos/[id]/loading.tsx
  src/app/(org-settings)/[organization]/settings/loading.tsx
Due: lint, tsc

Add comprehensive Knowledge Hub pivot plan
  docs/internal/strategy/knowledge-hub-pivot-plan.md
Due: none

Add AI chat knowledge base feature with RAG
  docs/internal/architecture/ai-chat-knowledge-base.md
  docs/internal/architecture/database.md
  drizzle/0005_loud_captain_britain.sql
  drizzle/meta/0005_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/(main)/[organization]/chat/loading.tsx
  src/app/(main)/[organization]/chat/page.tsx
  src/app/api/chat/conversations/[id]/messages/route.ts
  src/app/api/chat/conversations/[id]/route.ts
  src/app/api/chat/conversations/route.ts
  src/components/chat/chat-container.tsx
  src/components/chat/chat-conversation-list.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/index.ts
  src/lib/db/schema/chat.ts
  src/lib/db/schema/enums.ts
  src/lib/db/schema/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/ai-chat-kb.ts
  src/lib/effect/services/chat-repository.ts
Due: lint, tsc, openapi

Align skeletons with actual page layouts (#256)
  src/app/(main)/[organization]/loading.tsx
  src/app/(main)/[organization]/my-videos/loading.tsx
  src/app/(main)/[organization]/search/loading.tsx
  src/app/(main)/[organization]/series/loading.tsx
  src/app/(main)/[organization]/videos/[id]/loading.tsx
  src/app/(org-settings)/[organization]/settings/loading.tsx
Due: lint, tsc

Simplify collections UX by consolidating channels, series, and folders
  drizzle/0005_simplify-collections.sql
  src/app/(main)/[organization]/channels/[id]/page.tsx
  src/app/(main)/[organization]/collections/page.tsx
  src/app/(main)/[organization]/page.tsx
  src/app/(main)/[organization]/search/page.tsx
  src/app/(main)/[organization]/series/[id]/page.tsx
  src/app/(main)/[organization]/series/[id]/series-detail-client.tsx
  src/app/(main)/[organization]/series/loading.tsx
  src/app/(main)/[organization]/series/page.tsx
  src/app/(main)/[organization]/series/series-list-client.tsx
  src/app/api/channels/[id]/route.ts
  src/app/api/channels/route.ts
  src/app/api/collections/[id]/progress/route.ts
  src/app/api/collections/[id]/route.ts
  src/app/api/collections/[id]/videos/[videoId]/route.ts
  src/app/api/collections/[id]/videos/route.ts
  src/app/api/collections/route.ts
  src/app/api/series/[id]/progress/route.ts
  src/app/api/series/[id]/route.ts
  src/app/api/series/[id]/videos/[videoId]/route.ts
  src/app/api/series/[id]/videos/route.ts
  src/app/api/videos/[id]/move/route.ts
  src/components/dashboard/sidebar-nav.tsx
  src/components/search/search-filters.tsx
  src/components/search/search-page-content.tsx
  src/lib/api/videos.ts
  src/lib/db/schema/enums.ts
  src/lib/db/schema/search.ts
  src/lib/db/schema/videos.ts
  src/lib/effect/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/server.ts
  src/lib/effect/services/channel-repository.ts
  src/lib/effect/services/collection-repository.ts
  src/lib/effect/services/index.ts
  src/lib/effect/services/series-repository.ts
  src/lib/effect/services/video-repository.ts
  src/lib/types.ts
  src/lib/validation/schemas.ts
Due: lint, tsc, openapi

Fix video upload selector and add multiple uploads (#255)
  src/app/(main)/[organization]/upload/page.tsx
  src/app/api/videos/upload/url/route.ts
  src/components/upload-hub.tsx
  src/components/url-video-upload.tsx
  src/components/video-upload.tsx
Due: lint, tsc, openapi

Integrate bash-tool with tool loop agent for AI chat
  docs/internal/architecture/ai-chat-knowledge-base.md
  package.json
  pnpm-lock.yaml
  src/lib/effect/services/ai-chat-kb.ts
Due: lint, tsc

Fix E2E workflow to handle Vercel deployment protection
  .github/workflows/e2e.yml
Due: none

Add Vercel deployment protection bypass support
  .github/workflows/e2e.yml
  playwright.config.ts
Due: lint, tsc

Revamp docs
  docs/public/README.md
  package.json
  pnpm-lock.yaml
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/docs.css
  src/app/docs/internal/[[...slug]]/page.tsx
  src/app/docs/internal/layout.tsx
  src/app/docs/layout.tsx
  src/components/docs/docs-breadcrumb.tsx
  src/components/docs/docs-copy-button.tsx
  src/components/docs/docs-feature-card.tsx
  src/components/docs/docs-layout-wrapper.tsx
  src/components/docs/docs-markdown.tsx
  src/components/docs/docs-search.tsx
  src/components/docs/docs-sidebar.tsx
  src/components/docs/docs-toc.tsx
  src/components/docs/index.ts
Due: lint, tsc

Remove channelId/collectionId from videos table references
  src/app/api/search/hybrid/route.ts
  src/app/api/search/saved/[id]/route.ts
  src/app/api/search/saved/route.ts
  src/app/api/videos/[id]/route.ts
  src/app/api/videos/route.test.ts
  src/app/api/videos/route.ts
  src/app/api/videos/search/route.ts
  src/app/api/videos/upload/confirm/route.ts
  src/app/api/videos/upload/route.ts
  src/lib/api/videos.ts
  src/lib/db/schema/auth-relations.ts
  src/lib/effect/services/collection-repository.ts
  src/lib/effect/services/recommendations.ts
  src/lib/effect/services/search-repository.ts
  src/lib/effect/services/semantic-search-repository.ts
  src/lib/effect/services/video-repository.test.ts
  src/lib/effect/services/watch-later.ts
  src/lib/types.ts
  src/test/mocks.ts
Due: lint, tsc, openapi

Simplify workflows
  src/workflows/scheduled-cleanup.ts
  src/workflows/subscription-enforcement.ts
  src/workflows/uptime-monitor.ts
Due: lint, tsc

Add AI chat knowledge base with vector search (#258)
  docs/internal/architecture/ai-chat-knowledge-base.md
  docs/internal/architecture/database.md
  drizzle/0005_loud_captain_britain.sql
  drizzle/meta/0005_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  public/openapi.json
  public/openapi.yaml
  src/app/(main)/[organization]/chat/loading.tsx
  src/app/(main)/[organization]/chat/page.tsx
  src/app/api/chat/conversations/[id]/messages/route.ts
  src/app/api/chat/conversations/[id]/route.ts
  src/app/api/chat/conversations/route.ts
  src/components/chat/chat-container.tsx
  src/components/chat/chat-conversation-list.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/chat-message.tsx
  src/components/chat/index.ts
  src/lib/db/schema/chat.ts
  src/lib/db/schema/enums.ts
  src/lib/db/schema/index.ts
  src/lib/effect/runtime.ts
  src/lib/effect/services/ai-chat-kb.ts
  src/lib/effect/services/chat-repository.ts
Due: lint, tsc, openapi

Simplify workflows (#270)
  src/workflows/scheduled-cleanup.ts
  src/workflows/subscription-enforcement.ts
  src/workflows/uptime-monitor.ts
Due: lint, tsc

Fix e2e
  .github/workflows/e2e.yml
Due: none

Move step
  .github/workflows/e2e.yml
Due: none

Update
  e2e/landing.spec.ts
Due: lint, tsc

clean
  docs/public/README.md
  src/app/docs/api/reference/page.tsx
  src/components/docs/docs-layout-wrapper.tsx
  src/components/docs/docs-sidebar.tsx
  src/components/docs/fumadocs-providers.tsx
  src/lib/docs/markdown.ts
Due: lint, tsc

lint
  e2e/landing.spec.ts
Due: lint, tsc

Update tests
  e2e/landing.spec.ts
  e2e/organization.spec.ts
  e2e/settings.spec.ts
  e2e/upload.spec.ts
  e2e/videos.spec.ts
Due: lint, tsc

Enhance better-auth with teams, lifecycle hooks, and admin features
  drizzle/0006_plain_rhino.sql
  drizzle/meta/0006_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/lib/access-control.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema/auth-relations.ts
  src/lib/db/schema/auth.ts
  src/lib/db/schema/enums.ts
  src/lib/effect/services/slack-monitoring.ts
  src/lib/env/server.ts
Due: lint, tsc

Rename migration to descriptive name
  drizzle/0006_add_teams_and_org_notifications.sql
  drizzle/meta/0006_add_teams_and_org_notifications_snapshot.json
  drizzle/meta/_journal.json
Due: none

Update documentation for teams, lifecycle hooks, and admin features
  docs/AGENTS.md
  docs/internal/architecture/authentication.md
  docs/internal/architecture/database.md
  docs/public/guides/team-management.md
Due: none

Add word-level transcript highlighting during playback
  src/components/video/transcript-display.tsx
Due: lint, tsc

Enhance auth and organization user management (#271)
  docs/AGENTS.md
  docs/internal/architecture/authentication.md
  docs/internal/architecture/database.md
  docs/public/guides/team-management.md
  drizzle/0006_add_teams_and_org_notifications.sql
  drizzle/meta/0006_add_teams_and_org_notifications_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/lib/access-control.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/db/schema/auth-relations.ts
  src/lib/db/schema/auth.ts
  src/lib/db/schema/enums.ts
  src/lib/effect/services/slack-monitoring.ts
  src/lib/env/server.ts
Due: lint, tsc

Highlight transcript words during playback (#272)
  src/components/video/transcript-display.tsx
Due: lint, tsc

feat(claude): add hooks, commands, and code-reviewer agent
  .claude/agents/code-reviewer.md
  .claude/commands/commit.md
  .claude/commands/pr-review.md
  .claude/settings.json
  .claude/testing-framework/FINAL-REPORT.md
  .claude/testing-framework/RECOMMENDATIONS.md
  .claude/testing-framework/recommendation-1-auto-formatting/AFTER.md
  .claude/testing-framework/recommendation-1-auto-formatting/ANALYSIS.md
  .claude/testing-framework/recommendation-1-auto-formatting/BEFORE.md
  .claude/testing-framework/recommendation-1-auto-formatting/test-prompts.md
  .claude/testing-framework/recommendation-2-slash-commands/AFTER.md
  .claude/testing-framework/recommendation-2-slash-commands/ANALYSIS.md
  .claude/testing-framework/recommendation-2-slash-commands/BEFORE.md
  .claude/testing-framework/recommendation-2-slash-commands/test-prompts.md
  .claude/testing-framework/recommendation-3-branch-protection/AFTER.md
  .claude/testing-framework/recommendation-3-branch-protection/ANALYSIS.md
  .claude/testing-framework/recommendation-3-branch-protection/BEFORE.md
  .claude/testing-framework/recommendation-3-branch-protection/test-prompts.md
  .claude/testing-framework/recommendation-4-code-reviewer/AFTER.md
  .claude/testing-framework/recommendation-4-code-reviewer/ANALYSIS.md
  .claude/testing-framework/recommendation-4-code-reviewer/BEFORE.md
  .claude/testing-framework/recommendation-4-code-reviewer/test-prompts.md
Due: none

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  tsc: any of: *.{ts,tsx}
  openapi: any of: src/app/api/**/route.ts
